.container {
    width: 1204px;
}


a {
    text-decoration: none !important;

    &:hover {
        color: #0113ff !important;
        text-decoration: none !important;
    }
}

.main-block {
    margin-top: 30px;

    .navbar-block {
        width: 220px;
    }

    .content-block {
        width: 940px;
    }
}

.mass-media {
    .video {
        margin-bottom: 10px;
    }
}

@media screen and (max-device-width: 992px){
    .container {
        width: 100%;
    }

    .main-block {
        width: 100%;

        .content-block {
            width: 100%;
        }
    }
}

