.burger {
    a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        &:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }
    }

    #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        z-index: 999;
        background: #ffffff;
        color: #fff;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

        .sidebar-header {
            border-bottom: 1px solid #BDBDBD;

            input {
                width: 100%;
                height: 52px;
                border: none;
                padding-left: 20px;
            }
        }

        ul.components {
            border-bottom: 1px solid #47748b;
        }

        ul {
            p {
                color: #fff;
                padding: 10px;
            }

            li {
                a {
                    padding: 10px;
                    font-size: 1.1em;
                    display: block;

                    &:hover {
                        color: #7386D5;
                        background: #fff;
                    }
                }
            }

            li.active {
                > a {
                    color: #484848;
                    background: #ffffff;
                }
            }
        }
    }

    #sidebar.active {
        left: 0;
    }

    #dismiss {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #7386D5;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
            background: #fff;
            color: #7386D5;
        }
    }

    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 998;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle {
        &::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
    }

    ul {
        ul {
            a {
                font-size: 0.9em !important;
                padding-left: 30px !important;
                background: #6d7fcc;
            }
        }
    }

    ul.CTAs {
        padding: 20px;

        a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    }

    a.download {
        background: #fff;
        color: #7386D5;
    }

    a.article {
        background: #6d7fcc !important;
        color: #fff !important;

        &:hover {
            background: #6d7fcc !important;
            color: #fff !important;
        }
    }

    #content {
        width: 100px;
        height: 50px;
    }

    #sidebarCollapse {
        height: max-content;

        .btn-burger {
            background: #FFFFFF;
            border: none;
        }
    }

    .links {
        padding-top: 25px;
        padding-left: 20px;
        a {
            font-size: 13px;
            line-height: 15px;

            color: #484848;
            text-decoration: none;

            margin-bottom: 12px;
        }

        .line {
            margin-top: 3px;
            margin-bottom: 15px;
            width: 180px;
            border: 1px solid #BDBDBD;
        }
    }
}
