footer {
    width: 100%;
    margin-top: 40px;
    padding-top: 35px;
    padding-bottom: 20px;


    background: #F4F4F4;

    .container {
        width: 1204px;
    }

    .m-block {
        .empty-block-block {
            width: 220px;
        }

        .agency {
            margin-top: 25px;
            margin-bottom: 10px;

            .agency-logo {
                width: 100px;
                height: auto;
            }
        }

        .cont-block {
            width: 940px;

            .top {
                margin-bottom: 30px;

                a {
                    font-family: Museosanscyrl-Bold, sans-serif;
                    font-size: 14px;
                    line-height: 16px;
                    text-decoration: none;

                    color: #7D7D7D;
                }
            }

            .bottom {

                .left {
                    width: 50%;

                    p {
                        width: 350px;
                        font-family: Museosanscyrl-Light, sans-serif;
                        font-size: 14px;
                        line-height: 16px;

                        color: #9696A4;
                    }
                }

                .right {
                    width: 50%;

                    p {
                        font-family: Museosanscyrl-Light, sans-serif;
                        font-size: 14px;
                        line-height: 16px;

                        color: #9696A4;

                        margin-bottom: 5px;
                    }

                    .social {
                        margin-top: 8px;

                        a {
                            font-size: 24px;
                            margin-right: 15px;
                        }
                    }

                    a {
                        font-family: MuseoSansCyrl-Medium, sans-serif;
                        font-size: 14px;
                        line-height: 16px;

                        color: #7D7D7D;

                        text-decoration: none;

                        margin-bottom: 5px;
                    }

                    .btn-callback {
                        margin-top: 5px;
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 122px;
                        height: 30px;

                        border: 1px solid #7D7D7D;
                        border-radius: 30px;
                        box-shadow: none;

                        font-family: Museosanscyrl-Bold, sans-serif;
                        font-size: 12px;
                        line-height: 14px;

                        color: #7D7D7D;
                    }
                }
            }

        }
    }

}

@media screen and (max-device-width: 992px) {
    footer {

        .container {
            width: 100%;
        }

        .m-block {
            .cont-block {
                width: 100%;

                .top {
                    a {
                        font-family: "Museosanscyrl-Medium", sans-serif;
                        font-size: 12px;
                        line-height: 14px;

                        color: #7D7D7D;

                        margin-bottom: 5px;

                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
