.header {
    margin-bottom: 95px;


    .search-bar {
        .search-input {
            width: 615px;
            height: 46px;

            border: 1px solid #e4e4e4;
            border-right: none;
            box-shadow: none;

            border-radius: 8px 0 0 8px;

            font-family: Museosanscyrl-Light, sans-serif;
            font-size: 16px;
            line-height: 19px;
        }

        button {
            height: 46px;
            box-shadow: none;

            border: 1px solid #DA1E26;
            border-radius: 0 8px 8px 0;

            &:hover {
                background-color: #DA1E26;
                color: #FFFFFF;
            }

            &:active {
                box-shadow: none;
            }
        }
    }

    a.call-back {
        width: 166px;
        height: 36px;

        font-family: 'MuseoSansCyrl-Medium', sans-serif;
        font-size: 14px;
        line-height: 16px;

        color: #FFFFFF;

        background: #DA1E26;
        border-radius: 8px;
        box-shadow: none;

        &:hover {
            color: #DA1E26 !important;
            background-color: #FFFFFF;
            border: 2px solid #DA1E26;
        }
    }

    .wrapper {
        display: block;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        /* top layer */
        z-index: 9999;
    }

    .overlay {
        display: none;
        position: fixed;
        /* full screen */
        width: 100vw;
        height: 100vh;
        /* transparent black */
        background: rgba(0, 0, 0, 0.7);
        /* middle layer, i.e. appears below the sidebar */
        z-index: 998;
        opacity: 0;
        /* animate the transition */
        transition: all 0.5s ease-in-out;
    }
    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        opacity: 1;
    }

    #dismiss {
        width: 35px;
        height: 35px;
        position: absolute;
        /* top right corner of the sidebar */
        top: 10px;
        right: 10px;
    }
}

@media screen and (max-device-width: 992px) {
	.header {
		margin-bottom: 50px;
	}
}
