.navbar-block {

    .logo {
        margin-bottom: 60px;
    }

    .links {
        a {
            font-size: 13px;
            line-height: 15px;

            color: #484848;
            text-decoration: none;

            margin-bottom: 12px;
        }

        .line {
            margin-top: 3px;
            margin-bottom: 15px;
            width: 180px;
            border: 1px solid #BDBDBD;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .navbar-block {}
}
