.businesses-page {
    .head-title {
        font-family: 'HelveticaNeueCyr-Bold', sans-serif;
        font-size: 42px;
        line-height: 120%;

        color: #484848;

        margin-bottom: 30px;
    }

    .saver {
        position: relative;
        width: 100%;
        height: 50px;

        margin-bottom: 40px;

        .filter {
            position: absolute;
            width: 100%;

            font-style: normal;
            font-weight: 400;
            font-size: 16px;

            .search {
                width: 210px;
                height: 50px;

                padding-left: 55px;

                border: 1px solid #BDBDBD;
                border-radius: 8px;
                box-shadow: none;

                background-color: transparent;
                background-image: url("/img/search.png");
                background-repeat: no-repeat;
                background-position: 20px center;

                &:hover, &:active, &:focus, &:focus-visible, &:focus-within, &:visited, &:target {
                    border: 1px solid #364693;
                }
            }

            .fb {
                color: #484848;

                .btn-primary {
                    background-color: #FFFFFF;
                    border-color: #364693;
                    color: #484848;
                }

                .btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
                    background-color: #364693;
                    border-color: #364693;
                    color: #FFFFFF;
                }

                label {
                    height: 50px;

                    border-radius: 8px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: none;
                }

                .business {
                    margin-left: 10px;
                }
            }

            .city, .industry {
                width: 160px;

                .ss-main {
                    min-height: 50px;

                    .ss-multi-selected {
                        min-height: 50px;
                        border-radius: 8px;

                        .ss-values {
                            .ss-value {
                                background-color: #364693;
                            }

                            .ss-disabled {
                                color: #484848;
                            }
                        }

                        .ss-add {
                            margin-top: auto;
                            margin-bottom: auto;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .price {
                position: relative;


                .bcb {
                    background-color: #364693;
                    color: #FFFFFF;
                }

                button {
                    width: 109px;
                    height: 50px;

                    color: #484848;

                    background-color: #FFFFFF;
                    box-shadow: none;

                    border: 1px solid #364693;
                    box-sizing: border-box;
                    border-radius: 8px;

                    //&:active, &:focus, &:focus-visible, &:focus-within, &:visited, &:target {
                    //    background-color: #364693;
                    //    color: #FFFFFF;
                    //}
                }

                #collapsePrice {
                    position: absolute;

                    .card-body {
                        width: 310px;
                        padding: 20px;

                        input {
                            width: 130px;
                            height: 50px;

                            text-align: center;

                            border: 1px solid #364693;
                            box-sizing: border-box;
                            box-shadow: none;
                            border-radius: 8px;
                        }
                    }
                }
            }

            .search-btn {
                width: 182px;
                height: 50px;

                display: flex;
                justify-content: center;
                align-items: center;

                color: #F9F9F9;

                background: #364693;
                border-radius: 8px;
                border-color: #364693;
            }
        }
    }

    .businesses {
        .business {
            width: 100%;
            height: 190px;

            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            border-radius: 8px;

            padding: 20px;
            margin-bottom: 20px;

            .left {
                max-width: 700px;
                width: 700px;

                .preview {
                    width: 220px;
                    height: 150px;
                    border-radius: 8px;
                    object-fit: cover;
                    object-position: center;
                }

                .info {
                    width: 460px;
                    margin-left: 20px;

                    .title {
                        font-family: 'HelveticaNeueCyr-Bold', sans-serif;
                        font-size: 20px;
                        line-height: 120%;

                        color: #484848;

                        margin-bottom: 10px;
                    }

                    .place, .description {
                        font-family: 'HelveticaNeueCyr-Regular', sans-serif;
                        font-size: 15px;
                        line-height: 120%;

                        color: #484848;
                    }

                    .place {
                        margin-bottom: 15px;
                    }
                }
            }

            .right {
                .price, .cash-flow {
                    font-family: 'HelveticaNeueCyr-Regular', sans-serif;
                    font-size: 18px;
                    line-height: 120%;

                    text-align: right;

                    color: #484848;
                }

                .price {
                    margin-bottom: 13px;
                }

                .cash-flow {
                    font-size: 14px;
                }

                .details {
                    width: 170px;
                    height: 42px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: 'Museosanscyrl-Bold', sans-serif;
                    font-size: 14px;
                    line-height: 16px;

                    color: #DA1E26;

                    border: 1px solid #DA1E26;
                    border-radius: 8px;
                    transition: 0.2s;

                    &:hover {
                        color: #ffffff;
                        background-color: #DA1E26;
                    }
                }
            }
        }
    }

    .page-item {
        .page-link {
            color: #484848;
            box-shadow: none !important;

            &:hover {
                color: #484848 !important;
            }
        }
    }

    .page-item.active {
        .page-link {
            background-color: #FFFFFF;
            border: 1px solid #DA1E26;
            color: #DA1E26;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .businesses-page {
        .head-title {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .saver {
            height: auto;

            .filter {
                position: relative;

                .fb {
                    width: 66.6%;

                    margin-bottom: 20px;

                    label {
                        width: inherit;
                    }
                }

                .price {
                    margin-bottom: 20px;

                    #collapsePrice {
                        right: 0;
                        z-index: 5;

                        .card-body {
                            width: auto;

                            input {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }

                .industry, .city {
                    width: 47.5%;

                    margin-bottom: 20px;
                }

                .search-btn {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .businesses {
            .business {
                padding: 15px;
                height: auto;

                .left {
                    width: 100%;

                    .preview {
                        width: 100%;
                        height: 175px;

                        margin-bottom: 20px;
                    }

                    .info {
                        width: 100%;
                        margin-left: 0;
                        margin-bottom: 15px;
                    }
                }

                .right {
                    .box {
                        width: 100%;
                        margin-bottom: 15px;

                        .price {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
