.business-page {

    .business-info {
        width: 700px;

        h1 {
            font-family: 'HelveticaNeueCyr-Bold', sans-serif;
            font-size: 30px;
            line-height: 120%;

            color: #484848;

            margin-bottom: 15px;
        }

        .place {
            font-family: 'HelveticaNeueCyr-Regular', sans-serif;
            font-size: 18px;
            line-height: 120%;

            color: #484848;

            margin-bottom: 20px;
        }

        .head-title {
            font-family: 'HelveticaNeueCyr-Medium', sans-serif;
            font-size: 20px;
            line-height: 120%;

            color: #484848;

            margin-bottom: 15px;
        }

        .borderito {
            border-bottom: 0.5px solid #BDBDBD;
        }

        .f-15 {
            font-size: 15px;
            line-height: 120%;
        }

        .f-16 {
            font-size: 16px;
            line-height: 120%;
        }

        .f-18 {
            font-size: 18px;
            line-height: 120%;
        }

        .size {
            width: 135px;
            text-align: left;
        }

        .business-carousel {
            width: 100%;

            margin-bottom: 50px;

            .carousel-inner {
                border-radius: 8px;

                .carousel-item {
                    img {
                        width: 100%;
                        height: 320px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .carousel-indicators {
                margin-bottom: 0;

                button {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    opacity: 1;

                    &[aria-current="true"] {
                        background-color: #DA1E26;
                    }
                }
            }
        }

        .price-info {
            font-family: 'HelveticaNeueCyr-Regular', sans-serif;

            .line-1 {
                .left {
                    width: 340px;
                }

                .right {
                    width: 340px;
                }

                padding-bottom: 20px;
                margin-bottom: 10px;
            }

            .line-2 {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .line-3 {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .line-4, .line-5 {
                padding-bottom: 10px;
                margin-bottom: 10px;

                .left {
                    width: 340px;
                }

                .divider {
                    width: 29px;
                    height: 0;

                    border: 0.5px solid #BDBDBD;
                    transform: rotate(-90deg);
                }

                .right {
                    width: 340px;
                }
            }

            .big-price {
                font-size: 20px;
                line-height: 20px;

                letter-spacing: 0.03em;

                color: #DA1E26;
            }
        }

        .business-description {
            margin-top: 20px;
            padding-bottom: 30px;
            margin-bottom: 30px;

            .title {
                font-family: 'HelveticaNeueCyr-Bold', sans-serif;
                font-size: 20px;
                line-height: 120%;

                color: #484848;

                margin-bottom: 10px;
            }

            .description {
                font-family: 'HelveticaNeueCyr-Regular', sans-serif;
                font-size: 15px;
                line-height: 120%;

                color: #484848;

            }
        }

        .detailed-info {

            .left, .right {
                width: 340px;
            }

            .line-1 {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .line-2 {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .line-3 {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .line-4 {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .line-5 {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .line-6 {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }


        h3 {
            margin-top: 70px;
        }

        .form {
            height: auto;
            margin-top: 0;

            button {
                width: 170px;
                height: 40px;
                font-family: "MuseoSansCyrl-Medium", sans-serif;
                font-size: 16px;
                line-height: 16px;
                color: #FFFFFF;
                background: #DA1E26;
                border-radius: 8px;
                box-shadow: none;
            }
        }
    }

    .other-business {
        width: 220px;

        .head-title {
            font-family: 'HelveticaNeueCyr-Medium', sans-serif;
            font-size: 18px;
            line-height: 18px;

            color: #484848;

            margin-bottom: 15px;
        }

        .simi {
            width: 100%;
            height: auto;

            border: 1px solid #BDBDBD;
            border-radius: 8px;

            margin-bottom: 20px;

            img {
                width: 100%;
                height: 150px;
                border-radius: 8px;
                object-fit: cover;
                object-position: center;

                margin-bottom: 15px;
            }

            .info {
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 15px;

                .title {
                    font-family: 'HelveticaNeueCyr-Bold', sans-serif;
                    font-size: 14px;
                    line-height: 120%;

                    color: #484848;

                    margin-bottom: 5px;
                }

                .place {
                    font-family: 'HelveticaNeueCyr-Regular', sans-serif;
                    font-size: 11px;
                    line-height: 120%;

                    color: #484848;

                    margin-bottom: 6px;
                }

                .price {
                    font-family: 'HelveticaNeueCyr-Regular', sans-serif;
                    font-size: 14px;
                    line-height: 16px;

                    color: #484848;

                }
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    .business-page {
        .business-info {
            width: 100%;

            h1 {
                font-size: 24px;
                margin-bottom: 5px;
            }

            .place {
                font-size: 15px;
                margin-bottom: 15px;
            }

            .size {
                text-align: right;
                width: auto;
            }

            .business-carousel {
                margin-bottom: 25px;

                .carousel-inner {

                    .carousel-item {
                        img {
                            height: 190px;
                        }
                    }
                }
            }


            .head-title {
                font-size: 18px;
            }

            .price-info {
                .line-1 {
                    padding-bottom: 10px;

                    .left {
                        margin-bottom: 20px;
                    }
                }

                .line-4, .line-5 {
                    .divider {
                        display: none;
                    }

                    .left {
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: 0.5px solid #BDBDBD;
                    }
                }
            }

            .detailed-info {
                .line-1, .line-2, .line-3, .line-4, .line-5, .line-6 {
                    .left {
                        width: 45%;
                    }

                    .right {
                        width: 50%;
                    }
                }
            }
        }

        .other-business {
            display: none;
        }
    }
}
