.contacts-page {
    h2 {
        font-family: 'HelveticaNeueCyr-Bold', sans-serif;
        font-size: 20px;
        line-height: 120%;

        color: #484848;

        margin-bottom: 12px;
    }

    .box-1 {
        margin-bottom: 25px;

        .big-txt {
            font-family: 'HelveticaNeueCyr-Bold', sans-serif;
            font-size: 30px;
            line-height: 120%;

            color: #484848;

            margin-bottom: 15px;
        }

        .small-txt {
            font-family: 'HelveticaNeueCyr-Regular', sans-serif;
            font-size: 15px;
            line-height: 120%;

            color: #484848;

            margin-bottom: 15px;
        }

        a.map-link {
            font-family: 'HelveticaNeueCyr-Regular', sans-serif;
            font-size: 15px;
            line-height: 120%;

            text-decoration: underline dotted !important;

            color: #364693;
        }

        .map {
            margin-top: 15px;
            width: 400px;
            height: 200px;
        }

        .number {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 33px;

            color: #484848;

            margin-top: 15px;
            margin-bottom: 0;
        }
    }

    .box-2 {
        .big-txt {
            font-family: 'HelveticaNeueCyr-Bold', sans-serif;
            font-size: 20px;
            line-height: 120%;

            color: #484848;

            margin-bottom: 15px;
        }

        .number {
            p {
                font-family: 'HelveticaNeueCyr-Bold', sans-serif;
                font-size: 15px;
                line-height: 15px;

                color: #484848;

                margin-bottom: 0;
            }

            ul {
                li {
                    font-family: 'HelveticaNeueCyr-Regular', sans-serif;
                    font-size: 15px;
                    line-height: 17px;

                    color: #484848;

                }
            }
        }


    }

    .post-mark {
        top: 170px;
        right: 0;
        width: 590px;
        background-color: #EFEFEF;

        .content-block {
            width: 360px;
            font-size: 15px;
            line-height: 120%;

            color: #484848;

            padding: 30px 0 0 30px;

            .box {
                margin-bottom: 25px;

                p {
                    margin-bottom: 8px;
                }

                a {
                    color: #364693;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 11px;
                    }
                }
            }

            .box:last-child {
                margin-bottom: 17px;
            }
        }

        img {
            width: 100%;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .contacts-page {
        .box-1 {
            .map {
                margin-top: 15px;
                width: 100%;
                height: 200px;
            }
        }
        .post-mark {
            width: 100%;
            margin-top: 15px;

            .content-block {
                padding: 30px 16px 0 30px;
            }

            img {
                height: 10px;
                width: auto;
            }
        }
    }
}
