.headlines-page {

    .left {
        width: 640px;
        margin-bottom: 20px;

        .description {
            iframe {
                width: 100%;
                height: 350px;
            }
        }

        a {
            h2 {
                margin-top: 10px;
            }

            color: #000000;
        }

        img {
            margin-top: 15px;
            width: 100%;
            height: auto;
            overflow: hidden;

            &:hover {
                transition: transform .2s cubic-bezier(.215, .61, .355, 1), -webkit-transform .2s cubic-bezier(.215, .61, .355, 1);
                opacity: .8;
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
            }
        }
    }

    .similar-headlines {
        width: 100%;

        .box {
            margin-bottom: 20px;

            .img {
                width: 200px;
                height: 125px;

                margin-right: 15px;

                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 5px;
            }

            .title {
                font-size: 20px;
                line-height: 24px;
                color: #484848;
            }

            .short {
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    .headlines-page {
        .left {
            width: 100%;
        }
    }
}

