.headline-page {

    .left {
        width: 640px;

        .description {
            p {
                margin-top: 20px;
            }

            iframe {
                width: 100%;
            }
        }

        h2 {
            margin-top: 10px;
        }

        img {
            margin-top: 15px;
            width: 100%;
            height: auto;
        }


    }
}

@media screen and (max-device-width: 992px) {
    .headline-page {
        .left {
            width: 100%;
        }
    }
}

