.ibc-group-is {
    width: 100%;
    background: #484848;
    border-radius: 8px;

    a.watch-video {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 198px;
        height: 36px;

        font-size: 14px;
        line-height: 16px;

        color: #F9F9F9;

        border: 2px solid #F9F9F9;
        border-radius: 8px;

        margin-top: 16px;
        margin-bottom: 0;

        &:hover {
            background-color: #ffffff;
            color: #000000 !important;
        }
    }

    .section-1 {
        padding-top: 30px;
        padding-bottom: 25px;

        h2 {
            font-family: "ProximaNova-Extrabold", sans-serif;
            font-size: 58px;
            line-height: 71px;
            letter-spacing: 0.1em;

            color: #F9F9F9;

            margin-bottom: 0;
        }

        .list {
            margin-top: 25px;

            .element {
                width: 125px;
                margin-left: 15px;
                margin-right: 15px;

                object {
                    width: 54px;
                    height: 54px;
                }

                .big-txt {
                    font-family: "BebasNeue", sans-serif;
                    font-size: 32px;
                    line-height: 100%;
                    text-align: center;
                    letter-spacing: 0.03em;

                    color: #F9F9F9;

                    margin-top: 4px;
                    margin-bottom: 0;

                }

                .small-txt {
                    font-family: HelveticaNeueCyr-Light, sans-serif;
                    font-size: 15px;
                    line-height: 100%;
                    text-align: center;
                    letter-spacing: 0.03em;

                    color: #F9F9F9;

                    margin-top: 2px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .section-2 {

        .top {
            height: 200px;

            img {
                height: 100%;
            }
        }

        .bottom {
            height: 400px;
            background-image: url("/img/pic1.jpg");
            background-size: cover;
            background-position: bottom right;

            .box {
                img {
                    height: 200px;
                    width: 156px;
                }
            }

            img {
                height: 100%;
            }

            .box-2 {
                width: 469px;
                padding: 40px 28px 20px 38px;
                background: rgba(21, 47, 171, 0.6);

                h3 {
                    font-family: "ProximaNova-Black", sans-serif;
                    font-size: 32px;
                    line-height: 39px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;

                    color: #F9F9F9;

                    margin-bottom: 0;
                }

                p {
                    font-size: 17px;
                    line-height: 20px;
                    letter-spacing: 0.03em;

                    color: #F9F9F9;

                    margin-top: 9px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .section-2-mobile {

        .top {
            height: auto;

            .left {
                width: 67%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .right {
                width: 33%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .center {
            height: 383px;

            .left {
                width: 35%;

                .first {
                    width: 100%;
                    height: 50%;

                    background: url("/img/pic3.jpg");
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    background-position: center;
                }

                .second {
                    width: 100%;
                    height: 50%;

                    background: url("/img/pic6.jpg") 100% 100%;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    background-position: center;
                }


                .block-txt {
                    top: 25px;
                    left: 15px;

                    .big-txt {
                        font-family: "Museosanscyrl-Bold", sans-serif;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.05em;

                        color: #FFFFFF;

                        margin-bottom: 10px;
                    }

                    .small-txt {
                        font-family: "Museosanscyrl-Medium", sans-serif;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.02em;

                        color: #FFFFFF;
                    }
                }
            }

            .right {
                width: 65%;

                img {
                    width: 100%;
                    height: 100%;
                }

                .block-txt {
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 100%;
                    height: 100%;
                    background: rgba(21, 47, 171, 0.6);

                    .big-txt {
                        font-family: "ProximaNova-Black", sans-serif;
                        font-size: 24px;
                        line-height: 29px;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;

                        color: #F9F9F9;
                    }

                    .small-txt {
                        font-family: "Museosanscyrl-Medium", sans-serif;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.03em;

                        color: #F9F9F9;

                    }
                }
            }
        }

        .bottom {
            .left {
                width: 33.3333333%;
                height: fit-content;

                img {
                    width: 100%;
                }
            }

            .center {
                width: 33.3333333%;
                height: fit-content;

                img {
                    width: 100%;
                }
            }

            .right {
                width: 33.3333333%;
                height: fit-content;

                img {
                    width: 100%;
                }
            }
        }
    }

    .section-3 {
        padding-top: 30px;
        padding-bottom: 30px;

        .top {
            padding-left: 30px;

            .left {
                width: 250px;
                margin-right: 33px;

                .big-txt {
                    font-family: "ProximaNova-Black", sans-serif;
                    font-size: 32px;
                    line-height: 39px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;

                    color: #F9F9F9;

                    margin-bottom: 0;
                }

                .small-txt {
                    font-family: "ProximaNova-Regular", sans-serif;
                    font-size: 15px;
                    line-height: 18px;

                    color: #F9F9F9;

                    margin-top: 10px;
                    margin-bottom: 0;
                }
            }

            .right {
                .element {
                    margin-right: 12px;

                    .big-txt {
                        font-family: "BebasNeue", sans-serif;
                        font-size: 30px;
                        line-height: 36px;

                        color: #DA1E26;

                        margin-bottom: 0;
                    }

                    .small-txt {
                        font-family: "ProximaNova-Regular", sans-serif;
                        font-size: 13px;
                        line-height: 15px;

                        color: #F9F9F9;

                        margin-bottom: 0;
                    }
                }
            }
        }

        .bottom {
            .left {
                width: 50%;
                height: 350px;
                padding-left: 50px;
                background-image: url("/img/faces.png");
                background-repeat: no-repeat;
                background-size: 80%;
                background-position: top left;

                .big-txt {
                    font-family: 'Bebas Neue', sans-serif;
                    font-style: normal;
                    font-size: 30px;
                    line-height: 36px;

                    color: #DA1E26;
                    margin-bottom: 0;
                }

                .small-txt {
                    font-family: "ProximaNova-Regular", sans-serif;
                    font-size: 13px;
                    line-height: 16px;

                    color: #F9F9F9;

                    margin-bottom: 0;
                }
            }

            .right {
                width: 50%;
                padding-right: 30px;
                position: relative;

                .box {
                    position: absolute;
                    top: 0;
                    right: 30px;

                    .txt {
                        width: 540px;
                        font-family: "ProximaNova-Bold", sans-serif;
                        font-size: 28px;
                        line-height: 34px;
                        text-align: right;

                        color: #F9F9F9;

                        margin-bottom: 0;
                    }

                    a.watch-video {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }

    .modal-body {
        position:relative;
        padding:0px;
    }
    .btn-close {
        position:absolute;
        right:-30px;
        top:0;
    }
}

.directions {
    margin-top: 45px;

    .left {
        width: 40%;

        .big-txt {
            font-family: "ProximaNova-Black", sans-serif;
            font-size: 32px;
            line-height: 39px;

            letter-spacing: 0.05em;
            text-transform: uppercase;

            color: #484848;

            margin-bottom: 0;
        }

        .small-txt {
            font-family: "ProximaNova-Regular", sans-serif;
            font-size: 15px;
            line-height: 18px;

            color: #484848;

            margin-top: 10px;
            margin-bottom: 0;
        }

        a {
            width: 220px;
            height: 46px;

            display: flex;
            justify-content: center;
            align-items: center;

            background: #DA1E26;
            border-radius: 8px;

            font-family: "Museosanscyrl-Bold", sans-serif;
            font-size: 14px;
            line-height: 16px;

            color: #FFFFFF;

            margin-top: 20px;
            margin-bottom: 0;

            &:hover {
                background-color: #FFFFFF;
                color: #DA1E26 !important;
                border: 1px solid #DA1E26;
            }
        }
    }

    .right {

        div {
            width: 186.89px;
            height: 411px;

            background-repeat: no-repeat;
            background-size: 100% auto;

            margin-left: 15.11px;
        }

        .box1 {
            border-radius: 8px 0 0 8px;
        }

        .box2 {
            border-radius: 0;
        }

        .box3 {
            border-radius: 0 8px 8px 0;
        }
    }
}

.form {
    margin-top: 45px;
    height: 444px;

    .left {
        padding-top: 60px;
        padding-right: 40px;
        width: 50%;

        background-image: url("/img/form-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .big-txt {
            font-family: "ProximaNova-Black", sans-serif;
            font-size: 32px;

            line-height: 39px;
            text-align: right;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            color: #484848;

            margin-bottom: 0;
        }

        .small-txt {
            font-family: "ProximaNova-Regular", sans-serif;
            font-size: 17px;
            line-height: 21px;
            text-align: right;

            color: #484848;

            margin-top: 10px;
            margin-bottom: 0;
        }
    }

    .right {
        padding-top: 60px;
        padding-left: 50px;
        width: 50%;
        background: linear-gradient(281.83deg, #364693 0%, #6072CB 100%);

        .big-txt {
            font-family: "ProximaNova-Black", sans-serif;
            font-size: 32px;
            line-height: 39px;

            letter-spacing: 0.05em;
            text-transform: uppercase;

            color: #F9F9F9;

            margin-bottom: 0;
        }

        .small-txt {
            font-family: "ProximaNova-Regular", sans-serif;
            font-size: 17px;
            line-height: 21px;

            color: #F9F9F9;

            margin-top: 10px;
            margin-bottom: 25px;
        }

        input {
            width: 480px;
            height: 56px;

            padding-left: 30px;

            border: none;

            background: rgba(249, 249, 249, 0.7);
            border-radius: 8px;

            margin-bottom: 20px;
        }

        button {
            width: 480px;
            height: 56px;

            border: none;

            background: #F9F9F9;
            border-radius: 8px;

            font-family: "Montserrat-Medium", sans-serif;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;

            color: #DA1E26;
        }
    }
}

.end {
    margin-top: 80px;
    width: 940px;

    p {
        width: 460px;
        font-family: Museosanscyrl-Light, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #9696A4;

        margin-bottom: 0;
    }
}

@media screen and (max-device-width: 992px) {
    .ibc-group-is {
        a.watch-video {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 156px;
            height: 36px;

            font-family: "Museosanscyrl-Bold", sans-serif;
            font-size: 12px;
            line-height: 14px;

            color: #F9F9F9;

            border: 2px solid #F9F9F9;
            border-radius: 8px;

            margin-top: 16px;
            margin-bottom: 0;

            &:hover {
                background-color: #ffffff;
                color: #000000 !important;
            }
        }

        .section-1 {
            h2 {
                font-size: 35px;
                line-height: 43px;
            }

            .list {
                .element {
                    margin-top: 30px;
                }
            }
        }

        .section-3 {
            .top {
                padding-left: 15px;

                .left {
                    width: 100%;

                    .big-txt {
                        font-size: 28px;
                        line-height: 34px;
                    }

                    .small-txt {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

                .right {
                    margin-top: 10px;

                    .element {
                        margin-top: 10px;
                    }
                }
            }

            .bottom {
                .left {
                    width: 100%;
                    height: 320px;
                    padding-left: 45px;
                    margin-top: 50px;

                    .big-txt {
                        font-size: 26px;
                    }

                    .element:nth-child(1) {
                        padding-bottom: 20px;
                        margin-left: 0;
                    }

                    .element:nth-child(2) {
                        padding-bottom: 50px;
                        margin-left: 0;
                    }

                    .element:nth-child(3) {
                        margin-left: 20px;
                        padding-bottom: 70px;
                    }
                }

                .right {
                    width: 0;
                    padding-right: 0;

                    .box {
                        right: 15px;

                        .txt {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }

    .directions {
        .left {
            width: 100%;
        }

        .right {
            margin-top: 25px;
            width: 100%;

            .box1, .box2, .box3 {
                border-radius: 8px;

                margin-bottom: 20px;
            }
        }
    }

    .form {
        height: auto;

        .left {
            padding-top: 30px;
            padding-right: 15px;
            width: 100%;
            height: 325px;

            .big-txt {
                font-size: 28px;
                line-height: 34px;
            }

            .small-txt {
                font-size: 14px;
                line-height: 17px;

                margin-top: 15px;
            }
        }

        .right {
            width: 100%;
            padding: 30px 15px;

            .big-txt {
                font-size: 28px;
                line-height: 34px;
            }

            .small-txt {
                font-size: 14px;
                line-height: 17px;

                margin-top: 15px;
            }

            input {
                width: 100%;
            }

            button {
                width: 100%;
            }
        }
    }
}

.end {
    p {
        width: 100%;
        margin-bottom: 20px;
    }
}
