.instance-page {

	.background {
        padding-top: 35px;
        padding-left: 35px;
        width: 100%;
        height: 500px;
        background-size: 100% auto;
        background-position: top;
        background-repeat: no-repeat;

        .breadcrumbs * {
            color: #FFFFFF;
        }

        h2 {
            width: 60%;
            color: #FFFFFF;
        }
    }

    .left {
        width: 640px;

        .description {
            p {
                margin-top: 20px;
            }

            iframe {
                width: 100%;
            }
        }

        img {
            margin-top: 15px;
            width: 100%;
            height: auto;
        }


    }
}

@media screen and (max-device-width: 992px) {
    .instance-page {

        .background {
            padding-top: 10px;
            padding-left: 10px;
            height: auto;
        }

        .left {
            width: 100%;
        }
    }
}
