.instances-page {
    .box {
        width: 220px;
        height: 271px;

        margin-right: 20px;
        margin-bottom: 25px;

        &:nth-child(4n) {
            margin-right: 0;
        }

        a.img {
            margin-bottom: 16px;
            border-radius: 8px;
            text-decoration: none;

            .picha {
                width: 100%;
                height: 150px;
                border-radius: 20px;
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
            }

            &:hover {
                transition: transform .2s cubic-bezier(.215,.61,.355,1),-webkit-transform .2s cubic-bezier(.215,.61,.355,1);
                opacity: .8;
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
            }
        }

        a.edu {
            font-family: Museosanscyrl-Bold, sans-serif;
            font-size: 10px;
            line-height: 12px;

            letter-spacing: 0.1em;
            text-decoration: none;

            color: #BDBDBD;

            margin-bottom: 10px;
        }

        a.big-text {
            font-family: Museosanscyrl-Bold, sans-serif;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.05em;
            text-decoration: none;

            color: #484848;

            margin-bottom: 12px;
        }

        .small-text {
            p {
                font-family: MuseoSansCyrl-Medium,  sans-serif;
                font-size: 10px;
                line-height: 12px;

                color: #BDBDBD;

                margin-right: 10px;
            }
        }

    }
}

@media screen and (max-device-width: 992px) {
    .instances-page {
        .box {
            width: 100%;
            height: auto;
            margin-right: 0;

            a.img {
                .picha {
                    height: 200px;
                    border-radius: 10px;
                }
            }
        }
    }
}
