.masterclass-page {

    .left {
        width: 640px;

        .description {
            p {
                margin-top: 20px;
            }
        }

        h2 {
            margin-top: 10px;
        }

        .image {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .details {

            div {
                margin-bottom: 2px;

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .similar {
        width: 220px;
        height: auto;
        .box {
            width: 100%;
            height: 270px;

            a {
                width: 100%;

                .img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .form {
        height: auto;
        margin-top: 0;

        button {
            width: 170px;
            height: 40px;
            font-family: "MuseoSansCyrl-Medium", sans-serif;
            font-size: 16px;
            line-height: 16px;
            color: #FFFFFF;
            background: #DA1E26;
            border-radius: 8px;
            box-shadow: none;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .masterclass-page {
        .left {
            width: 100%;
        }
    }
}

