.page-services {
    padding-top: 30px;

    .headcrab {
        .big-txt {
            width: 30%;
            font-family: 'ProximaNova-Bold', sans-serif;
            font-size: 58px;
            line-height: 71px;

            color: #484848;

            img {
                margin-left: 15px;
            }
        }

        .small-txt {
            width: 60%;
            font-family: 'ProximaNova-Regular', sans-serif;
            font-size: 18px;
            line-height: 22px;

            color: #484848;
        }
    }

    .services {
        a.s-link {
            margin-top: 55px;
            position: relative;

            .detailed {
                width: 100%;
                height: 100%;

                display: none;
                position: absolute;
                opacity: .5;

                transition: .5s;

                background-color: #000000;
                border-radius: 40px;
                color: #FFFFFF;
                font-size: 22px;
            }

            &:hover {
                .detailed {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            img {
                width: auto;
                height: 316px;
                border-radius: 40px;
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    .page-services {
        .headcrab {
            .big-txt {
                width: 100%;
                margin-bottom: 25px;

                img {
                    margin-left: 15px;
                    width: 36px;
                    height: 36px;
                }
            }

            .small-txt {
                width: 100%;
            }
        }

        .services {
            a.s-link {
                margin-top: 30px;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
            }
        }
    }
}
