.page-vacancy {
    padding-top: 30px;

    .headcrab {
        .big-txt {
            width: 30%;
            font-family: 'ProximaNova-Bold', sans-serif;
            font-size: 58px;
            line-height: 71px;

            color: #484848;

            img {
                margin-left: 15px;
            }
        }

        .small-txt {
            width: 60%;
            font-family: 'ProximaNova-Regular', sans-serif;
            font-size: 18px;
            line-height: 22px;

            color: #484848;
        }
    }

    .vacancy {
        margin-top: 77px;

        .container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        div.header {
            border-top: 1px solid #666666;
            height: 123px;

            margin-bottom: 0;

            p.header {
                font-family: 'Museosanscyrl-Bold', sans-serif;
                font-size: 36px;
                line-height: 42px;

                color: #484848;

                margin-bottom: 0;
            }
        }

        .vacancies {
            .accordion {
                .accordion-item {
                    border: none;

                    .accordion-button {
                        padding: 0;
                        transition: 1s;

                        &::after {
                            background: none;
                            width: 0;
                            height: 0;
                            display: none;
                        }

                        .content {
                            height: 110px;
                            padding-left: 120px;
                            transition: 1s;
                            border-top: 1px solid #666666;

                            h3 {
                                width: 200px;

                                font-family: 'Museosanscyrl-Bold', sans-serif;
                                font-size: 20px;
                                line-height: 23px;

                                color: #484848;

                                margin-bottom: 0;
                            }

                            .right {
                                width: 550px;
                                margin-right: 30px;
                                transition: 1s;

                                p.description {
                                    width: 460px;

                                    font-family: 'Museosanscyrl-Medium', sans-serif;
                                    font-size: 16px;
                                    line-height: 19px;

                                    color: #484848;

                                    margin-bottom: 0;
                                }

                                svg {
                                    transition: 1s;

                                    circle {
                                        stroke: #313131;
                                    }

                                    path {
                                        fill: #313131;
                                    }
                                }
                            }
                        }

                        &:not(.collapsed) {
                            background: linear-gradient(281.83deg, #364693 0%, #6072CB 100%);
                            transition: 1s;

                            .content {
                                padding-left: 80px;
                                transition: 1s;

                                h3 {
                                    color: #F9F9F9;
                                }

                                .right {
                                    width: 590px;
                                    transition: 1s;

                                    p.description {
                                        color: #F9F9F9;
                                    }

                                    svg {
                                        transform: rotate(45deg);
                                        transition: 1s;

                                        circle {
                                            stroke: #F5F5F5;
                                        }

                                        path {
                                            fill: #F5F5F5;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .collapsing {
                        transition: 1s;
                    }

                    .accordion-body {
                        margin-top: 40px;
                        padding: 0;

                        .detailed {
                            padding-left: 80px;
                            padding-right: 80px;

                            p.big-txt {
                                width: 35%;
                                font-family: 'Museosanscyrl-Bold', sans-serif;
                                font-size: 18px;
                                line-height: 21px;

                                color: #484848;
                            }

                            ul {
                                width: 65%;

                                li {
                                    font-family: 'Museosanscyrl-Medium', sans-serif;
                                    font-size: 16px;
                                    line-height: 19px;

                                    color: #484848;

                                    margin-bottom: 15px;

                                    &::marker {
                                        color: #364693;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }

        .form-vacancy {
            padding-top: 70px;
            border-top: 1px solid #666666;
            margin-bottom: 100px;

            .left {
                width: 50%;

                p.big-txt {
                    font-family: 'ProximaNova-Semibold', sans-serif;
                    font-size: 58px;
                    line-height: 110%;

                    color: #484848;

                    margin-bottom: 25px;
                }

                p.small-txt {
                    font-family: 'ProximaNova-Regular', sans-serif;
                    font-size: 18px;
                    line-height: 22px;

                    color: #484848;

                    margin-bottom: 0;
                }
            }

            .right {
                width: 50%;
                margin-left: 20px;

                .blank {
                    label {
                        font-family: 'MuseoSansCyrl-Medium', sans-serif;
                        font-size: 18px;
                        line-height: 21px;

                        color: #484848;
                    }

                    input {
                        border: none;
                        border-bottom: 3px solid #BDBDBD;
                        border-radius: 0;
                        padding: 0;
                        height: 52px;
                        box-shadow: none;
                        margin-bottom: 40px;
                    }

                    textarea {
                        border: none;
                        border-bottom: 3px solid #666666;
                        border-radius: 0;
                        padding: 0;
                        box-shadow: none;

                        min-height: 52px;
                        height: 120px;
                        max-height: 300px;

                        margin-top: 20px;
                        margin-bottom: 40px;
                    }
                }

                .resume {
                    margin-bottom: 50px;

                    label {
                        font-family: 'MuseoSansCyrl-Medium', sans-serif;
                        font-size: 18px;
                        line-height: 21px;

                        color: #484848;

                        margin-bottom: 30px;
                    }
                }

                button {
                    height: 56px;
                    left: 850px;
                    top: 1525px;

                    /* red */

                    background: #DA1E26;
                    border-radius: 8px;

                    width: 100%;

                    font-family: 'Museosanscyrl-Bold', sans-serif;
                    font-size: 20px;
                    line-height: 23px;

                    color: #F9F9F9;

                    border: none;

                    margin-bottom: 20px;
                }

                p.agreement {
                    font-family: 'MuseoSansCyrl-Medium', sans-serif;
                    font-size: 15px;
                    line-height: 18px;

                    color: #484848;
                }
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    .page-vacancy {
        .headcrab {
            .big-txt {
                width: 100%;
                margin-bottom: 25px;

                img {
                    margin-left: 15px;
                    width: 36px;
                    height: 36px;
                }
            }

            .small-txt {
                width: 100%;
            }
        }

        .vacancy {
            .vacancies {
                .accordion {
                    .accordion-item {
                        .accordion-button {
                            .content {
                                padding: 25px 15px;
                                height: auto;

                                h3 {
                                    font-size: 24px;
                                    line-height: 24px;
                                    margin-bottom: 27px;
                                }

                                .right {
                                    width: 100%;

                                    p.description {
                                        width: 100%;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 16px;
                                        line-height: 16px;
                                    }
                                }
                            }

                            &:not(.collapsed) {
                                .content {
                                    padding: 25px 15px;
                                    height: auto;

                                    h3 {
                                        font-size: 24px;
                                        line-height: 24px;
                                        margin-bottom: 27px;
                                    }

                                    .right {
                                        width: 100%;

                                        p.description {
                                            width: 100%;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 16px;
                                        }
                                    }
                                }
                            }
                        }

                        .accordion-body {
                            .detailed {
                                padding-left: 15px;
                                padding-right: 15px;

                                p.big-txt {
                                    width: 100%;
                                    font-size: 18px;
                                    line-height: 18px;
                                    margin-bottom: 25px;
                                }

                                ul {
                                    width: 100%;

                                    li {
                                        font-weight: normal;
                                        font-size: 16px;
                                        line-height: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .form-vacancy {
                .left {
                    width: 100%;
                    margin-bottom: 50px;

                    p.big-txt {
                        font-size: 30px;
                        line-height: 30px;

                        margin-bottom: 25px;
                    }

                    p.small-txt {
                        font-size: 16px;
                        line-height: 16px;
                    }
                }

                .right {
                    width: 100%;
                    margin-left: 0;

                    .blank {
                        label {
                            font-size: 16px;
                            line-height: 16px;
                        }

                        input {
                            height: 37px;
                            border-bottom: 1px solid #666666;
                        }

                        textarea {
                            border-bottom: 1px solid #666666;
                        }
                    }
                }
            }
        }
    }
}
