@media screen and (min-device-width: 992px) {
    .container {
        width: 1204px;
    }
}

/* Video Parallax Section*/
#parallax{
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
}
#parallax video{
    min-width: 100%;
    position: fixed;
    top:0;
    z-index: -9999;
}
#parallax h3 {
    color: #fff;
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-device-width: 992px) {
    #parallax video {
        width: 400%;
        z-index: -999;
        left: -145%;
    }
}
