.breadcrumbs {
    a.link {
        font-family: Museosanscyrl-Bold, sans-serif;
        font-size: 13px;
        line-height: 15px;
        color: #484848;
        text-decoration: none;
        margin-right: 12px;
    }

    p.date {
        font-family: Museosanscyrl-Bold, sans-serif;
        font-size: 10px;
        line-height: 12px;
        color: #BDBDBD;
        text-decoration: none;
    }
}

