#requestModal {
    .modal-dialog {
        width: max-content;
        max-width: none;

        .modal-content {
            width: 580px;
            height: auto;

            background: #FFFFFF;
            border-radius: 16px;

            .modalka {
                height: 100%;
                padding: 55px 50px 50px 50px;

                .btn-close {
                    top: 15px;
                    right: 15px;
                }

                .big-txt {
                    font-family: 'Museosanscyrl-Bold', sans-serif;
                    font-size: 42px;
                    line-height: 49px;
                    text-align: center;
                    letter-spacing: 0.05em;

                    color: #484848;

                    margin-bottom: 15px;
                }

                .small-txt {
                    font-family: 'Museosanscyrl-Light', sans-serif;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;

                    color: #484848;
                }

                input, select {
                    width: 100%;
                    height: 56px;

                    padding-left: 35px;

                    border: 1px solid #484848;
                    border-radius: 8px;
                    box-shadow: none;

                    margin-top: 20px;
                }

                .submit {
                    width: 100%;
                    height: 56px;

                    background: #DA1E26;
                    border: 1px solid #DA1E26;
                    border-radius: 8px;

                    font-family: 'Museosanscyrl-Bold', sans-serif;
                    font-size: 16px;
                    line-height: 19px;

                    color: #FFFFFF;

                    margin-top: 30px;

                    transition: 0.2s;

                    &:hover {
                        background-color: #FFFFFF;
                        border: 1px solid #DA1E26;
                        color: #DA1E26;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    #requestModal {
        .modal-dialog {
            width: 100%;
            margin-left: 0;

            .modal-content {
                width: 100%;
                height: auto;

                .modalka {
                    padding: 25px 20px;

                    .big-txt {
                        font-size: 28px;
                        line-height: 110%;
                    }

                    .small-txt {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}
