.similar {
    width: 275px;

    .box {
        margin-bottom: 20px;

        .img {
            width: 120px;
            height: 75px;

            margin-right: 15px;

            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 5px;
        }

        .title {
            font-size: 13px;
            line-height: 15px;
            color: #484848;
        }

        .date {
            margin-top: 6px;
            font-size: 10px;
            font-weight: 400;
            line-height: 11px;
            color: #484848;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .similar {

    }
}
