#test {
    background-color: #FFFFFF;

    .row:after {
        clear: both;
        content: "";
        display: table;
    }

    .row:before {
        content: "";
        display: table;
    }

    *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        background: #fff;
        font-family: 'Raleway';
        line-height: 1.55;
        color: #737373;
        font-weight: 400;
    }

    body a {
        color: #27b198;
        text-decoration: none;
        border-bottom: 2px solid #fff;
    }

    body a:hover {
        border-color: #eeeeee;
    }

    code {
        background: #fff;
        color: #999999;
        padding: 2px 8px;
    }

    header {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #DA1E26;
        border-bottom: 1px solid dareken(#2dceb1, 15%);
        letter-spacing: 4px;
        padding: 12px 0;
        background: #fafafa;
        border-bottom: 1px solid #eeeeee;
        font-size: 24px;
    }

    .wrap {
        max-width: 48em;
        margin: 0 auto;
        padding: 2.5em 0 4em;
    }

    .row.last {
        border-bottom: 1px solid #eeeeee;
    }

    section {
        position: relative;
        padding: 20px;
        width: 50%;
        min-height: auto;
        float: left;
        background: #fafafa;
        border-top: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
    }

    @media screen and (max-device-width: 992px) {
        section {
            width: 100%;
        }
    }

    section:nth-child(even) {
        border-right: 1px solid #eeeeee;
    }

    input[type="radio"] {
        position: absolute;
        visibility: hidden;
    }

    input[type="radio"] + label {
        background: #fff;
        display: inline-block;
        padding: 5px 15px;
        margin: 5px 10px 5px 0;
        border: 1px solid #eeeeee;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    input[type="radio"] + label:hover {
        cursor: pointer;
    }

    input[type="radio"]:checked + label {
        background: #DA1E26;
        color: #FFFFFF;
    }

    .question {
        font-size: 16px;
    }

    .submit {
        padding: 20px 5px;
    }

    .submit button {
        display: block;
        outline: none;
        width: 300px;
        margin: 1em auto 1.5em;
        padding: .8em 1em;
        background: #f8f8f8;
        color: gainsboro;
        text-transform: uppercase;
        letter-spacing: 3px;
        border: 1px solid #eeeeee;
    }

    #emc-score {
        text-align: center;
        opacity: 0;
        padding: 0;
        -webkit-transition: all 0.55s ease;
        -moz-transition: all 0.55s ease;
        transition: all 0.55s ease;
    }

    #emc-score.new-score {
        opacity: 1;
        background: #2dceb1;
        color: #fbfbfb;
        padding: 20px;
    }

    #emc-submit {
        position: relative;
        -webkit-transition: all 0.33s ease;
        -moz-transition: all 0.33s ease;
        transition: all 0.33s ease;
    }

    #emc-submit.ready-show {
        background: #FFFFFF;
        color: #DA1E26;
        border: 2px solid #DA1E26;
        box-shadow: 0 1px 1px rgba(68, 68, 68, 0.2);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
        -o-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }

    #emc-submit.ready-show:hover {
        color: #FFFFFF;
        background: #DA1E26;
        border-color: #DA1E26;
    }

    #emc-submit.ready-show:active {
        top: 2px;
        border-bottom: none;
    }

    #emc-progress {
        height: 100%;
        border: 1px solid #ff8000;
        background: #fd9d08;
    }

    #emc-progress_inner {
        width: 100%;
        height: 0;
        background: #ff5c00;
        -webkit-transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #emc-progress_ind {
        position: absolute;
        display: block;
        width: 100%;
        font-size: .7em;
        font-weight: bold;
        padding: 7px 5px 5px;
        top: 0;
        left: 0;
        text-align: center;
        color: #ff5c00;
    }

    .attrib {
        padding: 10px 0;
        text-align: center;
    }

    .attrib i {
        margin-right: 7px;
        margin-left: 7px;
    }
}
