.container {
  width: 1204px;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: #0113ff !important;
  text-decoration: none !important;
}

.main-block {
  margin-top: 30px;
}
.main-block .navbar-block {
  width: 220px;
}
.main-block .content-block {
  width: 940px;
}

.mass-media .video {
  margin-bottom: 10px;
}

@media screen and (max-device-width: 992px) {
  .container {
    width: 100%;
  }

  .main-block {
    width: 100%;
  }
  .main-block .content-block {
    width: 100%;
  }
}
.navbar-block .logo {
  margin-bottom: 60px;
}
.navbar-block .links a {
  font-size: 13px;
  line-height: 15px;
  color: #484848;
  text-decoration: none;
  margin-bottom: 12px;
}
.navbar-block .links .line {
  margin-top: 3px;
  margin-bottom: 15px;
  width: 180px;
  border: 1px solid #BDBDBD;
}

.header {
  margin-bottom: 95px;
  /* display .overlay when it has the .active class */
}
.header .search-bar .search-input {
  width: 615px;
  height: 46px;
  border: 1px solid #e4e4e4;
  border-right: none;
  box-shadow: none;
  border-radius: 8px 0 0 8px;
  font-family: Museosanscyrl-Light, sans-serif;
  font-size: 16px;
  line-height: 19px;
}
.header .search-bar button {
  height: 46px;
  box-shadow: none;
  border: 1px solid #DA1E26;
  border-radius: 0 8px 8px 0;
}
.header .search-bar button:hover {
  background-color: #DA1E26;
  color: #FFFFFF;
}
.header .search-bar button:active {
  box-shadow: none;
}
.header a.call-back {
  width: 166px;
  height: 36px;
  font-family: "MuseoSansCyrl-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #DA1E26;
  border-radius: 8px;
  box-shadow: none;
}
.header a.call-back:hover {
  color: #DA1E26 !important;
  background-color: #FFFFFF;
  border: 2px solid #DA1E26;
}
.header .wrapper {
  display: block;
}
.header #sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
}
.header .overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
.header .overlay.active {
  display: block;
  opacity: 1;
}
.header #dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}

@media screen and (max-device-width: 992px) {
  .header {
    margin-bottom: 50px;
  }
}
.burger a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.burger a:hover {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.burger a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.burger #sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: #ffffff;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.burger #sidebar .sidebar-header {
  border-bottom: 1px solid #BDBDBD;
}
.burger #sidebar .sidebar-header input {
  width: 100%;
  height: 52px;
  border: none;
  padding-left: 20px;
}
.burger #sidebar ul.components {
  border-bottom: 1px solid #47748b;
}
.burger #sidebar ul p {
  color: #fff;
  padding: 10px;
}
.burger #sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
.burger #sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}
.burger #sidebar ul li.active > a {
  color: #484848;
  background: #ffffff;
}
.burger #sidebar.active {
  left: 0;
}
.burger #dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386D5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.burger #dismiss:hover {
  background: #fff;
  color: #7386D5;
}
.burger .overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.burger .overlay.active {
  display: block;
  opacity: 1;
}
.burger a[aria-expanded=true] {
  color: #fff;
  background: #6d7fcc;
}
.burger a[data-toggle=collapse] {
  position: relative;
}
.burger .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.burger ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
.burger ul.CTAs {
  padding: 20px;
}
.burger ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
.burger a.download {
  background: #fff;
  color: #7386D5;
}
.burger a.article {
  background: #6d7fcc !important;
  color: #fff !important;
}
.burger a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
.burger #content {
  width: 100px;
  height: 50px;
}
.burger #sidebarCollapse {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.burger #sidebarCollapse .btn-burger {
  background: #FFFFFF;
  border: none;
}
.burger .links {
  padding-top: 25px;
  padding-left: 20px;
}
.burger .links a {
  font-size: 13px;
  line-height: 15px;
  color: #484848;
  text-decoration: none;
  margin-bottom: 12px;
}
.burger .links .line {
  margin-top: 3px;
  margin-bottom: 15px;
  width: 180px;
  border: 1px solid #BDBDBD;
}

footer {
  width: 100%;
  margin-top: 40px;
  padding-top: 35px;
  padding-bottom: 20px;
  background: #F4F4F4;
}
footer .container {
  width: 1204px;
}
footer .m-block .empty-block-block {
  width: 220px;
}
footer .m-block .agency {
  margin-top: 25px;
  margin-bottom: 10px;
}
footer .m-block .agency .agency-logo {
  width: 100px;
  height: auto;
}
footer .m-block .cont-block {
  width: 940px;
}
footer .m-block .cont-block .top {
  margin-bottom: 30px;
}
footer .m-block .cont-block .top a {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #7D7D7D;
}
footer .m-block .cont-block .bottom .left {
  width: 50%;
}
footer .m-block .cont-block .bottom .left p {
  width: 350px;
  font-family: Museosanscyrl-Light, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #9696A4;
}
footer .m-block .cont-block .bottom .right {
  width: 50%;
}
footer .m-block .cont-block .bottom .right p {
  font-family: Museosanscyrl-Light, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #9696A4;
  margin-bottom: 5px;
}
footer .m-block .cont-block .bottom .right .social {
  margin-top: 8px;
}
footer .m-block .cont-block .bottom .right .social a {
  font-size: 24px;
  margin-right: 15px;
}
footer .m-block .cont-block .bottom .right a {
  font-family: MuseoSansCyrl-Medium, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #7D7D7D;
  text-decoration: none;
  margin-bottom: 5px;
}
footer .m-block .cont-block .bottom .right .btn-callback {
  margin-top: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 30px;
  border: 1px solid #7D7D7D;
  border-radius: 30px;
  box-shadow: none;
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #7D7D7D;
}

@media screen and (max-device-width: 992px) {
  footer .container {
    width: 100%;
  }
  footer .m-block .cont-block {
    width: 100%;
  }
  footer .m-block .cont-block .top a {
    font-family: "Museosanscyrl-Medium", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #7D7D7D;
    margin-bottom: 5px;
    margin-right: 10px;
  }
}
.headlines-page .left {
  width: 640px;
  margin-bottom: 20px;
}
.headlines-page .left .description iframe {
  width: 100%;
  height: 350px;
}
.headlines-page .left a {
  color: #000000;
}
.headlines-page .left a h2 {
  margin-top: 10px;
}
.headlines-page .left img {
  margin-top: 15px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.headlines-page .left img:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.headlines-page .similar-headlines {
  width: 100%;
}
.headlines-page .similar-headlines .box {
  margin-bottom: 20px;
}
.headlines-page .similar-headlines .box .img {
  width: 200px;
  height: 125px;
  margin-right: 15px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
.headlines-page .similar-headlines .box .title {
  font-size: 20px;
  line-height: 24px;
  color: #484848;
}
.headlines-page .similar-headlines .box .short {
  font-weight: 300;
  font-size: 16px;
}

@media screen and (max-device-width: 992px) {
  .headlines-page .left {
    width: 100%;
  }
}
.headline-page .left {
  width: 640px;
}
.headline-page .left .description p {
  margin-top: 20px;
}
.headline-page .left .description iframe {
  width: 100%;
}
.headline-page .left h2 {
  margin-top: 10px;
}
.headline-page .left img {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

@media screen and (max-device-width: 992px) {
  .headline-page .left {
    width: 100%;
  }
}
.advices-page .box {
  width: 220px;
  height: 271px;
  margin-right: 20px;
  margin-bottom: 25px;
}
.advices-page .box:nth-child(4n) {
  margin-right: 0;
}
.advices-page .box a.img {
  margin-bottom: 16px;
  border-radius: 8px;
  text-decoration: none;
}
.advices-page .box a.img .picha {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.advices-page .box a.img:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.advices-page .box a.edu {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.advices-page .box a.big-text {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #484848;
  margin-bottom: 12px;
}
.advices-page .box .small-text p {
  font-family: MuseoSansCyrl-Medium, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
  margin-right: 10px;
}

@media screen and (max-device-width: 992px) {
  .advices-page .box {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .advices-page .box a.img .picha {
    height: 200px;
    border-radius: 10px;
  }
}
.advice-page .left {
  width: 640px;
}
.advice-page .left .description p {
  margin-top: 20px;
}
.advice-page .left .description iframe {
  width: 100%;
}
.advice-page .left h2 {
  margin-top: 10px;
}
.advice-page .left img {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

@media screen and (max-device-width: 992px) {
  .advice-page .left {
    width: 100%;
  }
}
.instances-page .box {
  width: 220px;
  height: 271px;
  margin-right: 20px;
  margin-bottom: 25px;
}
.instances-page .box:nth-child(4n) {
  margin-right: 0;
}
.instances-page .box a.img {
  margin-bottom: 16px;
  border-radius: 8px;
  text-decoration: none;
}
.instances-page .box a.img .picha {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.instances-page .box a.img:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.instances-page .box a.edu {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.instances-page .box a.big-text {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #484848;
  margin-bottom: 12px;
}
.instances-page .box .small-text p {
  font-family: MuseoSansCyrl-Medium, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
  margin-right: 10px;
}

@media screen and (max-device-width: 992px) {
  .instances-page .box {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .instances-page .box a.img .picha {
    height: 200px;
    border-radius: 10px;
  }
}
.instance-page .background {
  padding-top: 35px;
  padding-left: 35px;
  width: 100%;
  height: 500px;
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
}
.instance-page .background .breadcrumbs * {
  color: #FFFFFF;
}
.instance-page .background h2 {
  width: 60%;
  color: #FFFFFF;
}
.instance-page .left {
  width: 640px;
}
.instance-page .left .description p {
  margin-top: 20px;
}
.instance-page .left .description iframe {
  width: 100%;
}
.instance-page .left img {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

@media screen and (max-device-width: 992px) {
  .instance-page .background {
    padding-top: 10px;
    padding-left: 10px;
    height: auto;
  }
  .instance-page .left {
    width: 100%;
  }
}
.feedbacks-page .box {
  width: 220px;
  height: 271px;
  margin-right: 20px;
  margin-bottom: 25px;
}
.feedbacks-page .box:nth-child(4n) {
  margin-right: 0;
}
.feedbacks-page .box a.img {
  margin-bottom: 16px;
  border-radius: 8px;
  text-decoration: none;
}
.feedbacks-page .box a.img .picha {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.feedbacks-page .box a.img:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.feedbacks-page .box a.edu {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.feedbacks-page .box .big-text *:hover {
  color: #0113ff !important;
  text-decoration: none !important;
}
.feedbacks-page .box .big-text p {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #484848;
  margin-bottom: 12px;
}
.feedbacks-page .box .small-text p {
  font-family: MuseoSansCyrl-Medium, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
  margin-right: 10px;
}

@media screen and (max-device-width: 992px) {
  .feedbacks-page .box {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .feedbacks-page .box a.img .picha {
    height: 200px;
    border-radius: 10px;
  }
}
.feedback-page .left {
  width: 640px;
}
.feedback-page .left .description p {
  margin-top: 20px;
}
.feedback-page .left .description iframe {
  width: 100%;
}
.feedback-page .left h2 {
  margin-top: 10px;
}
.feedback-page .left img {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

@media screen and (max-device-width: 992px) {
  .feedback-page .left {
    width: 100%;
  }
}
.ibc-group-is {
  width: 100%;
  background: #484848;
  border-radius: 8px;
}
.ibc-group-is a.watch-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 198px;
  height: 36px;
  font-size: 14px;
  line-height: 16px;
  color: #F9F9F9;
  border: 2px solid #F9F9F9;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 0;
}
.ibc-group-is a.watch-video:hover {
  background-color: #ffffff;
  color: #000000 !important;
}
.ibc-group-is .section-1 {
  padding-top: 30px;
  padding-bottom: 25px;
}
.ibc-group-is .section-1 h2 {
  font-family: "ProximaNova-Extrabold", sans-serif;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.1em;
  color: #F9F9F9;
  margin-bottom: 0;
}
.ibc-group-is .section-1 .list {
  margin-top: 25px;
}
.ibc-group-is .section-1 .list .element {
  width: 125px;
  margin-left: 15px;
  margin-right: 15px;
}
.ibc-group-is .section-1 .list .element object {
  width: 54px;
  height: 54px;
}
.ibc-group-is .section-1 .list .element .big-txt {
  font-family: "BebasNeue", sans-serif;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #F9F9F9;
  margin-top: 4px;
  margin-bottom: 0;
}
.ibc-group-is .section-1 .list .element .small-txt {
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #F9F9F9;
  margin-top: 2px;
  margin-bottom: 0;
}
.ibc-group-is .section-2 .top {
  height: 200px;
}
.ibc-group-is .section-2 .top img {
  height: 100%;
}
.ibc-group-is .section-2 .bottom {
  height: 400px;
  background-image: url("/img/pic1.jpg");
  background-size: cover;
  background-position: bottom right;
}
.ibc-group-is .section-2 .bottom .box img {
  height: 200px;
  width: 156px;
}
.ibc-group-is .section-2 .bottom img {
  height: 100%;
}
.ibc-group-is .section-2 .bottom .box-2 {
  width: 469px;
  padding: 40px 28px 20px 38px;
  background: rgba(21, 47, 171, 0.6);
}
.ibc-group-is .section-2 .bottom .box-2 h3 {
  font-family: "ProximaNova-Black", sans-serif;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F9F9F9;
  margin-bottom: 0;
}
.ibc-group-is .section-2 .bottom .box-2 p {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #F9F9F9;
  margin-top: 9px;
  margin-bottom: 0;
}
.ibc-group-is .section-2-mobile .top {
  height: auto;
}
.ibc-group-is .section-2-mobile .top .left {
  width: 67%;
}
.ibc-group-is .section-2-mobile .top .left img {
  width: 100%;
  height: 100%;
}
.ibc-group-is .section-2-mobile .top .right {
  width: 33%;
}
.ibc-group-is .section-2-mobile .top .right img {
  width: 100%;
  height: 100%;
}
.ibc-group-is .section-2-mobile .center {
  height: 383px;
}
.ibc-group-is .section-2-mobile .center .left {
  width: 35%;
}
.ibc-group-is .section-2-mobile .center .left .first {
  width: 100%;
  height: 50%;
  background: url("/img/pic3.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.ibc-group-is .section-2-mobile .center .left .second {
  width: 100%;
  height: 50%;
  background: url("/img/pic6.jpg") 100% 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.ibc-group-is .section-2-mobile .center .left .block-txt {
  top: 25px;
  left: 15px;
}
.ibc-group-is .section-2-mobile .center .left .block-txt .big-txt {
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.ibc-group-is .section-2-mobile .center .left .block-txt .small-txt {
  font-family: "Museosanscyrl-Medium", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.ibc-group-is .section-2-mobile .center .right {
  width: 65%;
}
.ibc-group-is .section-2-mobile .center .right img {
  width: 100%;
  height: 100%;
}
.ibc-group-is .section-2-mobile .center .right .block-txt {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  background: rgba(21, 47, 171, 0.6);
}
.ibc-group-is .section-2-mobile .center .right .block-txt .big-txt {
  font-family: "ProximaNova-Black", sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F9F9F9;
}
.ibc-group-is .section-2-mobile .center .right .block-txt .small-txt {
  font-family: "Museosanscyrl-Medium", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #F9F9F9;
}
.ibc-group-is .section-2-mobile .bottom .left {
  width: 33.3333333%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.ibc-group-is .section-2-mobile .bottom .left img {
  width: 100%;
}
.ibc-group-is .section-2-mobile .bottom .center {
  width: 33.3333333%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.ibc-group-is .section-2-mobile .bottom .center img {
  width: 100%;
}
.ibc-group-is .section-2-mobile .bottom .right {
  width: 33.3333333%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.ibc-group-is .section-2-mobile .bottom .right img {
  width: 100%;
}
.ibc-group-is .section-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ibc-group-is .section-3 .top {
  padding-left: 30px;
}
.ibc-group-is .section-3 .top .left {
  width: 250px;
  margin-right: 33px;
}
.ibc-group-is .section-3 .top .left .big-txt {
  font-family: "ProximaNova-Black", sans-serif;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F9F9F9;
  margin-bottom: 0;
}
.ibc-group-is .section-3 .top .left .small-txt {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #F9F9F9;
  margin-top: 10px;
  margin-bottom: 0;
}
.ibc-group-is .section-3 .top .right .element {
  margin-right: 12px;
}
.ibc-group-is .section-3 .top .right .element .big-txt {
  font-family: "BebasNeue", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #DA1E26;
  margin-bottom: 0;
}
.ibc-group-is .section-3 .top .right .element .small-txt {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #F9F9F9;
  margin-bottom: 0;
}
.ibc-group-is .section-3 .bottom .left {
  width: 50%;
  height: 350px;
  padding-left: 50px;
  background-image: url("/img/faces.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top left;
}
.ibc-group-is .section-3 .bottom .left .big-txt {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: #DA1E26;
  margin-bottom: 0;
}
.ibc-group-is .section-3 .bottom .left .small-txt {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #F9F9F9;
  margin-bottom: 0;
}
.ibc-group-is .section-3 .bottom .right {
  width: 50%;
  padding-right: 30px;
  position: relative;
}
.ibc-group-is .section-3 .bottom .right .box {
  position: absolute;
  top: 0;
  right: 30px;
}
.ibc-group-is .section-3 .bottom .right .box .txt {
  width: 540px;
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  color: #F9F9F9;
  margin-bottom: 0;
}
.ibc-group-is .section-3 .bottom .right .box a.watch-video {
  margin-top: 20px;
}
.ibc-group-is .modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}
.ibc-group-is .modal-body {
  position: relative;
  padding: 0px;
}
.ibc-group-is .btn-close {
  position: absolute;
  right: -30px;
  top: 0;
}

.directions {
  margin-top: 45px;
}
.directions .left {
  width: 40%;
}
.directions .left .big-txt {
  font-family: "ProximaNova-Black", sans-serif;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #484848;
  margin-bottom: 0;
}
.directions .left .small-txt {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #484848;
  margin-top: 10px;
  margin-bottom: 0;
}
.directions .left a {
  width: 220px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DA1E26;
  border-radius: 8px;
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 0;
}
.directions .left a:hover {
  background-color: #FFFFFF;
  color: #DA1E26 !important;
  border: 1px solid #DA1E26;
}
.directions .right div {
  width: 186.89px;
  height: 411px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-left: 15.11px;
}
.directions .right .box1 {
  border-radius: 8px 0 0 8px;
}
.directions .right .box2 {
  border-radius: 0;
}
.directions .right .box3 {
  border-radius: 0 8px 8px 0;
}

.form {
  margin-top: 45px;
  height: 444px;
}
.form .left {
  padding-top: 60px;
  padding-right: 40px;
  width: 50%;
  background-image: url("/img/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.form .left .big-txt {
  font-family: "ProximaNova-Black", sans-serif;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #484848;
  margin-bottom: 0;
}
.form .left .small-txt {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  color: #484848;
  margin-top: 10px;
  margin-bottom: 0;
}
.form .right {
  padding-top: 60px;
  padding-left: 50px;
  width: 50%;
  background: linear-gradient(281.83deg, #364693 0%, #6072CB 100%);
}
.form .right .big-txt {
  font-family: "ProximaNova-Black", sans-serif;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F9F9F9;
  margin-bottom: 0;
}
.form .right .small-txt {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: #F9F9F9;
  margin-top: 10px;
  margin-bottom: 25px;
}
.form .right input {
  width: 480px;
  height: 56px;
  padding-left: 30px;
  border: none;
  background: rgba(249, 249, 249, 0.7);
  border-radius: 8px;
  margin-bottom: 20px;
}
.form .right button {
  width: 480px;
  height: 56px;
  border: none;
  background: #F9F9F9;
  border-radius: 8px;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #DA1E26;
}

.end {
  margin-top: 80px;
  width: 940px;
}
.end p {
  width: 460px;
  font-family: Museosanscyrl-Light, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #9696A4;
  margin-bottom: 0;
}

@media screen and (max-device-width: 992px) {
  .ibc-group-is a.watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 36px;
    font-family: "Museosanscyrl-Bold", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #F9F9F9;
    border: 2px solid #F9F9F9;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .ibc-group-is a.watch-video:hover {
    background-color: #ffffff;
    color: #000000 !important;
  }
  .ibc-group-is .section-1 h2 {
    font-size: 35px;
    line-height: 43px;
  }
  .ibc-group-is .section-1 .list .element {
    margin-top: 30px;
  }
  .ibc-group-is .section-3 .top {
    padding-left: 15px;
  }
  .ibc-group-is .section-3 .top .left {
    width: 100%;
  }
  .ibc-group-is .section-3 .top .left .big-txt {
    font-size: 28px;
    line-height: 34px;
  }
  .ibc-group-is .section-3 .top .left .small-txt {
    font-size: 14px;
    line-height: 17px;
  }
  .ibc-group-is .section-3 .top .right {
    margin-top: 10px;
  }
  .ibc-group-is .section-3 .top .right .element {
    margin-top: 10px;
  }
  .ibc-group-is .section-3 .bottom .left {
    width: 100%;
    height: 320px;
    padding-left: 45px;
    margin-top: 50px;
  }
  .ibc-group-is .section-3 .bottom .left .big-txt {
    font-size: 26px;
  }
  .ibc-group-is .section-3 .bottom .left .element:nth-child(1) {
    padding-bottom: 20px;
    margin-left: 0;
  }
  .ibc-group-is .section-3 .bottom .left .element:nth-child(2) {
    padding-bottom: 50px;
    margin-left: 0;
  }
  .ibc-group-is .section-3 .bottom .left .element:nth-child(3) {
    margin-left: 20px;
    padding-bottom: 70px;
  }
  .ibc-group-is .section-3 .bottom .right {
    width: 0;
    padding-right: 0;
  }
  .ibc-group-is .section-3 .bottom .right .box {
    right: 15px;
  }
  .ibc-group-is .section-3 .bottom .right .box .txt {
    font-size: 20px;
    line-height: 24px;
  }

  .directions .left {
    width: 100%;
  }
  .directions .right {
    margin-top: 25px;
    width: 100%;
  }
  .directions .right .box1, .directions .right .box2, .directions .right .box3 {
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .form {
    height: auto;
  }
  .form .left {
    padding-top: 30px;
    padding-right: 15px;
    width: 100%;
    height: 325px;
  }
  .form .left .big-txt {
    font-size: 28px;
    line-height: 34px;
  }
  .form .left .small-txt {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
  .form .right {
    width: 100%;
    padding: 30px 15px;
  }
  .form .right .big-txt {
    font-size: 28px;
    line-height: 34px;
  }
  .form .right .small-txt {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
  .form .right input {
    width: 100%;
  }
  .form .right button {
    width: 100%;
  }
}
.end p {
  width: 100%;
  margin-bottom: 20px;
}

.contacts-page h2 {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 12px;
}
.contacts-page .box-1 {
  margin-bottom: 25px;
}
.contacts-page .box-1 .big-txt {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 30px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 15px;
}
.contacts-page .box-1 .small-txt {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
  font-size: 15px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 15px;
}
.contacts-page .box-1 a.map-link {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
  font-size: 15px;
  line-height: 120%;
  -webkit-text-decoration: underline dotted !important;
          text-decoration: underline dotted !important;
  color: #364693;
}
.contacts-page .box-1 .map {
  margin-top: 15px;
  width: 400px;
  height: 200px;
}
.contacts-page .box-1 .number {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #484848;
  margin-top: 15px;
  margin-bottom: 0;
}
.contacts-page .box-2 .big-txt {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 15px;
}
.contacts-page .box-2 .number p {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #484848;
  margin-bottom: 0;
}
.contacts-page .box-2 .number ul li {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
  font-size: 15px;
  line-height: 17px;
  color: #484848;
}
.contacts-page .post-mark {
  top: 170px;
  right: 0;
  width: 590px;
  background-color: #EFEFEF;
}
.contacts-page .post-mark .content-block {
  width: 360px;
  font-size: 15px;
  line-height: 120%;
  color: #484848;
  padding: 30px 0 0 30px;
}
.contacts-page .post-mark .content-block .box {
  margin-bottom: 25px;
}
.contacts-page .post-mark .content-block .box p {
  margin-bottom: 8px;
}
.contacts-page .post-mark .content-block .box a {
  color: #364693;
  display: flex;
  align-items: center;
}
.contacts-page .post-mark .content-block .box a svg {
  margin-right: 11px;
}
.contacts-page .post-mark .content-block .box:last-child {
  margin-bottom: 17px;
}
.contacts-page .post-mark img {
  width: 100%;
}

@media screen and (max-device-width: 992px) {
  .contacts-page .box-1 .map {
    margin-top: 15px;
    width: 100%;
    height: 200px;
  }
  .contacts-page .post-mark {
    width: 100%;
    margin-top: 15px;
  }
  .contacts-page .post-mark .content-block {
    padding: 30px 16px 0 30px;
  }
  .contacts-page .post-mark img {
    height: 10px;
    width: auto;
  }
}
.page-vacancy {
  padding-top: 30px;
}
.page-vacancy .headcrab .big-txt {
  width: 30%;
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 58px;
  line-height: 71px;
  color: #484848;
}
.page-vacancy .headcrab .big-txt img {
  margin-left: 15px;
}
.page-vacancy .headcrab .small-txt {
  width: 60%;
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #484848;
}
.page-vacancy .vacancy {
  margin-top: 77px;
}
.page-vacancy .vacancy .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.page-vacancy .vacancy div.header {
  border-top: 1px solid #666666;
  height: 123px;
  margin-bottom: 0;
}
.page-vacancy .vacancy div.header p.header {
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #484848;
  margin-bottom: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item {
  border: none;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button {
  padding: 0;
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button::after {
  background: none;
  width: 0;
  height: 0;
  display: none;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content {
  height: 110px;
  padding-left: 120px;
  transition: 1s;
  border-top: 1px solid #666666;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content h3 {
  width: 200px;
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #484848;
  margin-bottom: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right {
  width: 550px;
  margin-right: 30px;
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right p.description {
  width: 460px;
  font-family: "Museosanscyrl-Medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #484848;
  margin-bottom: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right svg {
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right svg circle {
  stroke: #313131;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right svg path {
  fill: #313131;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) {
  background: linear-gradient(281.83deg, #364693 0%, #6072CB 100%);
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content {
  padding-left: 80px;
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content h3 {
  color: #F9F9F9;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right {
  width: 590px;
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right p.description {
  color: #F9F9F9;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right svg {
  transform: rotate(45deg);
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right svg circle {
  stroke: #F5F5F5;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right svg path {
  fill: #F5F5F5;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .collapsing {
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body {
  margin-top: 40px;
  padding: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed {
  padding-left: 80px;
  padding-right: 80px;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed p.big-txt {
  width: 35%;
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #484848;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul {
  width: 65%;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul li {
  font-family: "Museosanscyrl-Medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #484848;
  margin-bottom: 15px;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul li::marker {
  color: #364693;
}
.page-vacancy .vacancy .form-vacancy {
  padding-top: 70px;
  border-top: 1px solid #666666;
  margin-bottom: 100px;
}
.page-vacancy .vacancy .form-vacancy .left {
  width: 50%;
}
.page-vacancy .vacancy .form-vacancy .left p.big-txt {
  font-family: "ProximaNova-Semibold", sans-serif;
  font-size: 58px;
  line-height: 110%;
  color: #484848;
  margin-bottom: 25px;
}
.page-vacancy .vacancy .form-vacancy .left p.small-txt {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #484848;
  margin-bottom: 0;
}
.page-vacancy .vacancy .form-vacancy .right {
  width: 50%;
  margin-left: 20px;
}
.page-vacancy .vacancy .form-vacancy .right .blank label {
  font-family: "MuseoSansCyrl-Medium", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #484848;
}
.page-vacancy .vacancy .form-vacancy .right .blank input {
  border: none;
  border-bottom: 3px solid #BDBDBD;
  border-radius: 0;
  padding: 0;
  height: 52px;
  box-shadow: none;
  margin-bottom: 40px;
}
.page-vacancy .vacancy .form-vacancy .right .blank textarea {
  border: none;
  border-bottom: 3px solid #666666;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  min-height: 52px;
  height: 120px;
  max-height: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.page-vacancy .vacancy .form-vacancy .right .resume {
  margin-bottom: 50px;
}
.page-vacancy .vacancy .form-vacancy .right .resume label {
  font-family: "MuseoSansCyrl-Medium", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #484848;
  margin-bottom: 30px;
}
.page-vacancy .vacancy .form-vacancy .right button {
  height: 56px;
  left: 850px;
  top: 1525px;
  /* red */
  background: #DA1E26;
  border-radius: 8px;
  width: 100%;
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #F9F9F9;
  border: none;
  margin-bottom: 20px;
}
.page-vacancy .vacancy .form-vacancy .right p.agreement {
  font-family: "MuseoSansCyrl-Medium", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #484848;
}

@media screen and (max-device-width: 992px) {
  .page-vacancy .headcrab .big-txt {
    width: 100%;
    margin-bottom: 25px;
  }
  .page-vacancy .headcrab .big-txt img {
    margin-left: 15px;
    width: 36px;
    height: 36px;
  }
  .page-vacancy .headcrab .small-txt {
    width: 100%;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content {
    padding: 25px 15px;
    height: auto;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 27px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right {
    width: 100%;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right p.description {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content {
    padding: 25px 15px;
    height: auto;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 27px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right {
    width: 100%;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right p.description {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed {
    padding-left: 15px;
    padding-right: 15px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed p.big-txt {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 25px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul {
    width: 100%;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul li {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .form-vacancy .left {
    width: 100%;
    margin-bottom: 50px;
  }
  .page-vacancy .vacancy .form-vacancy .left p.big-txt {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .page-vacancy .vacancy .form-vacancy .left p.small-txt {
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .form-vacancy .right {
    width: 100%;
    margin-left: 0;
  }
  .page-vacancy .vacancy .form-vacancy .right .blank label {
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .form-vacancy .right .blank input {
    height: 37px;
    border-bottom: 1px solid #666666;
  }
  .page-vacancy .vacancy .form-vacancy .right .blank textarea {
    border-bottom: 1px solid #666666;
  }
}
.page-services {
  padding-top: 30px;
}
.page-services .headcrab .big-txt {
  width: 30%;
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 58px;
  line-height: 71px;
  color: #484848;
}
.page-services .headcrab .big-txt img {
  margin-left: 15px;
}
.page-services .headcrab .small-txt {
  width: 60%;
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #484848;
}
.page-services .services a.s-link {
  margin-top: 55px;
  position: relative;
}
.page-services .services a.s-link .detailed {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0.5;
  transition: 0.5s;
  background-color: #000000;
  border-radius: 40px;
  color: #FFFFFF;
  font-size: 22px;
}
.page-services .services a.s-link:hover .detailed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-services .services a.s-link img {
  width: auto;
  height: 316px;
  border-radius: 40px;
}

@media screen and (max-device-width: 992px) {
  .page-services .headcrab .big-txt {
    width: 100%;
    margin-bottom: 25px;
  }
  .page-services .headcrab .big-txt img {
    margin-left: 15px;
    width: 36px;
    height: 36px;
  }
  .page-services .headcrab .small-txt {
    width: 100%;
  }
  .page-services .services a.s-link {
    margin-top: 30px;
  }
  .page-services .services a.s-link img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
.masterclasses-page .box {
  width: 220px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 25px;
}
.masterclasses-page .box:nth-child(4n) {
  margin-right: 0;
}
.masterclasses-page .box a.img {
  margin-bottom: 16px;
  border-radius: 8px;
  text-decoration: none;
}
.masterclasses-page .box a.img .picha {
  width: 100%;
  height: 270px;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.masterclasses-page .box a.img:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.masterclasses-page .box a.big-text {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #484848;
  margin-bottom: 12px;
}
.masterclasses-page .box .small-text p {
  font-family: MuseoSansCyrl-Medium, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
  margin-right: 10px;
}
.masterclasses-page .box i {
  margin-right: 5px;
}

@media screen and (max-device-width: 992px) {
  .masterclasses-page .box {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .masterclasses-page .box a.img .picha {
    height: 420px;
    border-radius: 10px;
  }
}
.masterclass-page .left {
  width: 640px;
}
.masterclass-page .left .description p {
  margin-top: 20px;
}
.masterclass-page .left h2 {
  margin-top: 10px;
}
.masterclass-page .left .image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.masterclass-page .left .details div {
  margin-bottom: 2px;
}
.masterclass-page .left .details div i {
  margin-right: 5px;
}
.masterclass-page .similar {
  width: 220px;
  height: auto;
}
.masterclass-page .similar .box {
  width: 100%;
  height: 270px;
}
.masterclass-page .similar .box a {
  width: 100%;
}
.masterclass-page .similar .box a .img {
  width: 100%;
  height: 100%;
}
.masterclass-page .form {
  height: auto;
  margin-top: 0;
}
.masterclass-page .form button {
  width: 170px;
  height: 40px;
  font-family: "MuseoSansCyrl-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background: #DA1E26;
  border-radius: 8px;
  box-shadow: none;
}

@media screen and (max-device-width: 992px) {
  .masterclass-page .left {
    width: 100%;
  }
}
.businesses-page .head-title {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 42px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 30px;
}
.businesses-page .saver {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
}
.businesses-page .saver .filter {
  position: absolute;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.businesses-page .saver .filter .search {
  width: 210px;
  height: 50px;
  padding-left: 55px;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  box-shadow: none;
  background-color: transparent;
  background-image: url("/img/search.png");
  background-repeat: no-repeat;
  background-position: 20px center;
}
.businesses-page .saver .filter .search:hover, .businesses-page .saver .filter .search:active, .businesses-page .saver .filter .search:focus, .businesses-page .saver .filter .search:focus-visible, .businesses-page .saver .filter .search:focus-within, .businesses-page .saver .filter .search:visited, .businesses-page .saver .filter .search:target {
  border: 1px solid #364693;
}
.businesses-page .saver .filter .fb {
  color: #484848;
}
.businesses-page .saver .filter .fb .btn-primary {
  background-color: #FFFFFF;
  border-color: #364693;
  color: #484848;
}
.businesses-page .saver .filter .fb .btn-check:active + .btn-primary, .businesses-page .saver .filter .fb .btn-check:checked + .btn-primary, .businesses-page .saver .filter .fb .btn-primary.active, .businesses-page .saver .filter .fb .btn-primary:active, .businesses-page .saver .filter .fb .show > .btn-primary.dropdown-toggle {
  background-color: #364693;
  border-color: #364693;
  color: #FFFFFF;
}
.businesses-page .saver .filter .fb label {
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.businesses-page .saver .filter .fb .business {
  margin-left: 10px;
}
.businesses-page .saver .filter .city, .businesses-page .saver .filter .industry {
  width: 160px;
}
.businesses-page .saver .filter .city .ss-main, .businesses-page .saver .filter .industry .ss-main {
  min-height: 50px;
}
.businesses-page .saver .filter .city .ss-main .ss-multi-selected, .businesses-page .saver .filter .industry .ss-main .ss-multi-selected {
  min-height: 50px;
  border-radius: 8px;
}
.businesses-page .saver .filter .city .ss-main .ss-multi-selected .ss-values .ss-value, .businesses-page .saver .filter .industry .ss-main .ss-multi-selected .ss-values .ss-value {
  background-color: #364693;
}
.businesses-page .saver .filter .city .ss-main .ss-multi-selected .ss-values .ss-disabled, .businesses-page .saver .filter .industry .ss-main .ss-multi-selected .ss-values .ss-disabled {
  color: #484848;
}
.businesses-page .saver .filter .city .ss-main .ss-multi-selected .ss-add, .businesses-page .saver .filter .industry .ss-main .ss-multi-selected .ss-add {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}
.businesses-page .saver .filter .price {
  position: relative;
}
.businesses-page .saver .filter .price .bcb {
  background-color: #364693;
  color: #FFFFFF;
}
.businesses-page .saver .filter .price button {
  width: 109px;
  height: 50px;
  color: #484848;
  background-color: #FFFFFF;
  box-shadow: none;
  border: 1px solid #364693;
  box-sizing: border-box;
  border-radius: 8px;
}
.businesses-page .saver .filter .price #collapsePrice {
  position: absolute;
}
.businesses-page .saver .filter .price #collapsePrice .card-body {
  width: 310px;
  padding: 20px;
}
.businesses-page .saver .filter .price #collapsePrice .card-body input {
  width: 130px;
  height: 50px;
  text-align: center;
  border: 1px solid #364693;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 8px;
}
.businesses-page .saver .filter .search-btn {
  width: 182px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F9F9F9;
  background: #364693;
  border-radius: 8px;
  border-color: #364693;
}
.businesses-page .businesses .business {
  width: 100%;
  height: 190px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
.businesses-page .businesses .business .left {
  max-width: 700px;
  width: 700px;
}
.businesses-page .businesses .business .left .preview {
  width: 220px;
  height: 150px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.businesses-page .businesses .business .left .info {
  width: 460px;
  margin-left: 20px;
}
.businesses-page .businesses .business .left .info .title {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 10px;
}
.businesses-page .businesses .business .left .info .place, .businesses-page .businesses .business .left .info .description {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
  font-size: 15px;
  line-height: 120%;
  color: #484848;
}
.businesses-page .businesses .business .left .info .place {
  margin-bottom: 15px;
}
.businesses-page .businesses .business .right .price, .businesses-page .businesses .business .right .cash-flow {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
  font-size: 18px;
  line-height: 120%;
  text-align: right;
  color: #484848;
}
.businesses-page .businesses .business .right .price {
  margin-bottom: 13px;
}
.businesses-page .businesses .business .right .cash-flow {
  font-size: 14px;
}
.businesses-page .businesses .business .right .details {
  width: 170px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #DA1E26;
  border: 1px solid #DA1E26;
  border-radius: 8px;
  transition: 0.2s;
}
.businesses-page .businesses .business .right .details:hover {
  color: #ffffff;
  background-color: #DA1E26;
}
.businesses-page .page-item .page-link {
  color: #484848;
  box-shadow: none !important;
}
.businesses-page .page-item .page-link:hover {
  color: #484848 !important;
}
.businesses-page .page-item.active .page-link {
  background-color: #FFFFFF;
  border: 1px solid #DA1E26;
  color: #DA1E26;
}

@media screen and (max-device-width: 992px) {
  .businesses-page .head-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .businesses-page .saver {
    height: auto;
  }
  .businesses-page .saver .filter {
    position: relative;
  }
  .businesses-page .saver .filter .fb {
    width: 66.6%;
    margin-bottom: 20px;
  }
  .businesses-page .saver .filter .fb label {
    width: inherit;
  }
  .businesses-page .saver .filter .price {
    margin-bottom: 20px;
  }
  .businesses-page .saver .filter .price #collapsePrice {
    right: 0;
    z-index: 5;
  }
  .businesses-page .saver .filter .price #collapsePrice .card-body {
    width: auto;
  }
  .businesses-page .saver .filter .price #collapsePrice .card-body input {
    margin-bottom: 10px;
  }
  .businesses-page .saver .filter .industry, .businesses-page .saver .filter .city {
    width: 47.5%;
    margin-bottom: 20px;
  }
  .businesses-page .saver .filter .search-btn {
    margin-left: auto;
    margin-right: auto;
  }
  .businesses-page .businesses .business {
    padding: 15px;
    height: auto;
  }
  .businesses-page .businesses .business .left {
    width: 100%;
  }
  .businesses-page .businesses .business .left .preview {
    width: 100%;
    height: 175px;
    margin-bottom: 20px;
  }
  .businesses-page .businesses .business .left .info {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .businesses-page .businesses .business .right .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .businesses-page .businesses .business .right .box .price {
    margin-bottom: 0;
  }
}
.business-page .business-info {
  width: 700px;
}
.business-page .business-info h1 {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 30px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 15px;
}
.business-page .business-info .place {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
  font-size: 18px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 20px;
}
.business-page .business-info .head-title {
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 15px;
}
.business-page .business-info .borderito {
  border-bottom: 0.5px solid #BDBDBD;
}
.business-page .business-info .f-15 {
  font-size: 15px;
  line-height: 120%;
}
.business-page .business-info .f-16 {
  font-size: 16px;
  line-height: 120%;
}
.business-page .business-info .f-18 {
  font-size: 18px;
  line-height: 120%;
}
.business-page .business-info .size {
  width: 135px;
  text-align: left;
}
.business-page .business-info .business-carousel {
  width: 100%;
  margin-bottom: 50px;
}
.business-page .business-info .business-carousel .carousel-inner {
  border-radius: 8px;
}
.business-page .business-info .business-carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.business-page .business-info .business-carousel .carousel-indicators {
  margin-bottom: 0;
}
.business-page .business-info .business-carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
}
.business-page .business-info .business-carousel .carousel-indicators button[aria-current=true] {
  background-color: #DA1E26;
}
.business-page .business-info .price-info {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
}
.business-page .business-info .price-info .line-1 {
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.business-page .business-info .price-info .line-1 .left {
  width: 340px;
}
.business-page .business-info .price-info .line-1 .right {
  width: 340px;
}
.business-page .business-info .price-info .line-2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.business-page .business-info .price-info .line-3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.business-page .business-info .price-info .line-4, .business-page .business-info .price-info .line-5 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.business-page .business-info .price-info .line-4 .left, .business-page .business-info .price-info .line-5 .left {
  width: 340px;
}
.business-page .business-info .price-info .line-4 .divider, .business-page .business-info .price-info .line-5 .divider {
  width: 29px;
  height: 0;
  border: 0.5px solid #BDBDBD;
  transform: rotate(-90deg);
}
.business-page .business-info .price-info .line-4 .right, .business-page .business-info .price-info .line-5 .right {
  width: 340px;
}
.business-page .business-info .price-info .big-price {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #DA1E26;
}
.business-page .business-info .business-description {
  margin-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.business-page .business-info .business-description .title {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 10px;
}
.business-page .business-info .business-description .description {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
  font-size: 15px;
  line-height: 120%;
  color: #484848;
}
.business-page .business-info .detailed-info .left, .business-page .business-info .detailed-info .right {
  width: 340px;
}
.business-page .business-info .detailed-info .line-1 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.business-page .business-info .detailed-info .line-2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.business-page .business-info .detailed-info .line-3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.business-page .business-info .detailed-info .line-4 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.business-page .business-info .detailed-info .line-5 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.business-page .business-info .detailed-info .line-6 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.business-page .business-info h3 {
  margin-top: 70px;
}
.business-page .business-info .form {
  height: auto;
  margin-top: 0;
}
.business-page .business-info .form button {
  width: 170px;
  height: 40px;
  font-family: "MuseoSansCyrl-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background: #DA1E26;
  border-radius: 8px;
  box-shadow: none;
}
.business-page .other-business {
  width: 220px;
}
.business-page .other-business .head-title {
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #484848;
  margin-bottom: 15px;
}
.business-page .other-business .simi {
  width: 100%;
  height: auto;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  margin-bottom: 20px;
}
.business-page .other-business .simi img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 15px;
}
.business-page .other-business .simi .info {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.business-page .other-business .simi .info .title {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 5px;
}
.business-page .other-business .simi .info .place {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
  font-size: 11px;
  line-height: 120%;
  color: #484848;
  margin-bottom: 6px;
}
.business-page .other-business .simi .info .price {
  font-family: "HelveticaNeueCyr-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #484848;
}

@media screen and (max-device-width: 992px) {
  .business-page .business-info {
    width: 100%;
  }
  .business-page .business-info h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .business-page .business-info .place {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .business-page .business-info .size {
    text-align: right;
    width: auto;
  }
  .business-page .business-info .business-carousel {
    margin-bottom: 25px;
  }
  .business-page .business-info .business-carousel .carousel-inner .carousel-item img {
    height: 190px;
  }
  .business-page .business-info .head-title {
    font-size: 18px;
  }
  .business-page .business-info .price-info .line-1 {
    padding-bottom: 10px;
  }
  .business-page .business-info .price-info .line-1 .left {
    margin-bottom: 20px;
  }
  .business-page .business-info .price-info .line-4 .divider, .business-page .business-info .price-info .line-5 .divider {
    display: none;
  }
  .business-page .business-info .price-info .line-4 .left, .business-page .business-info .price-info .line-5 .left {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid #BDBDBD;
  }
  .business-page .business-info .detailed-info .line-1 .left, .business-page .business-info .detailed-info .line-2 .left, .business-page .business-info .detailed-info .line-3 .left, .business-page .business-info .detailed-info .line-4 .left, .business-page .business-info .detailed-info .line-5 .left, .business-page .business-info .detailed-info .line-6 .left {
    width: 45%;
  }
  .business-page .business-info .detailed-info .line-1 .right, .business-page .business-info .detailed-info .line-2 .right, .business-page .business-info .detailed-info .line-3 .right, .business-page .business-info .detailed-info .line-4 .right, .business-page .business-info .detailed-info .line-5 .right, .business-page .business-info .detailed-info .line-6 .right {
    width: 50%;
  }
  .business-page .other-business {
    display: none;
  }
}
.breadcrumbs a.link {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #484848;
  text-decoration: none;
  margin-right: 12px;
}
.breadcrumbs p.date {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
  text-decoration: none;
}

.similar {
  width: 275px;
}
.similar .box {
  margin-bottom: 20px;
}
.similar .box .img {
  width: 120px;
  height: 75px;
  margin-right: 15px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
.similar .box .title {
  font-size: 13px;
  line-height: 15px;
  color: #484848;
}
.similar .box .date {
  margin-top: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #484848;
}

#requestModal .modal-dialog {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: none;
}
#requestModal .modal-dialog .modal-content {
  width: 580px;
  height: auto;
  background: #FFFFFF;
  border-radius: 16px;
}
#requestModal .modal-dialog .modal-content .modalka {
  height: 100%;
  padding: 55px 50px 50px 50px;
}
#requestModal .modal-dialog .modal-content .modalka .btn-close {
  top: 15px;
  right: 15px;
}
#requestModal .modal-dialog .modal-content .modalka .big-txt {
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #484848;
  margin-bottom: 15px;
}
#requestModal .modal-dialog .modal-content .modalka .small-txt {
  font-family: "Museosanscyrl-Light", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #484848;
}
#requestModal .modal-dialog .modal-content .modalka input, #requestModal .modal-dialog .modal-content .modalka select {
  width: 100%;
  height: 56px;
  padding-left: 35px;
  border: 1px solid #484848;
  border-radius: 8px;
  box-shadow: none;
  margin-top: 20px;
}
#requestModal .modal-dialog .modal-content .modalka .submit {
  width: 100%;
  height: 56px;
  background: #DA1E26;
  border: 1px solid #DA1E26;
  border-radius: 8px;
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 30px;
  transition: 0.2s;
}
#requestModal .modal-dialog .modal-content .modalka .submit:hover {
  background-color: #FFFFFF;
  border: 1px solid #DA1E26;
  color: #DA1E26;
  transition: 0.2s;
}

@media screen and (max-device-width: 992px) {
  #requestModal .modal-dialog {
    width: 100%;
    margin-left: 0;
  }
  #requestModal .modal-dialog .modal-content {
    width: 100%;
    height: auto;
  }
  #requestModal .modal-dialog .modal-content .modalka {
    padding: 25px 20px;
  }
  #requestModal .modal-dialog .modal-content .modalka .big-txt {
    font-size: 28px;
    line-height: 110%;
  }
  #requestModal .modal-dialog .modal-content .modalka .small-txt {
    font-size: 16px;
    line-height: 19px;
  }
}
.block-1 {
  margin-bottom: 30px;
  height: 610px;
}
.block-1 .left {
  width: 690px;
}
.block-1 .left .top {
  margin-bottom: 20px;
}
.block-1 .left .top .main-carousel {
  width: 100%;
}
.block-1 .left .top .main-carousel .carousel-inner {
  border-radius: 8px;
}
.block-1 .left .top .main-carousel .carousel-indicators {
  margin-bottom: 0;
}
.block-1 .left .top .main-carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
}
.block-1 .left .top .main-carousel .carousel-indicators button[aria-current=true] {
  background-color: #DA1E26;
}
.block-1 .left .bottom {
  width: 100%;
}
.block-1 .left .bottom .box {
  width: 220px;
  height: 270px;
  margin-right: auto;
}
.block-1 .left .bottom .box:nth-child(3n) {
  margin-right: 0;
}
.block-1 .left .bottom .box a.img {
  width: 100%;
  margin-bottom: 16px;
  text-decoration: none;
}
.block-1 .left .bottom .box a.img .pic4a {
  width: 100%;
  height: 150px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.block-1 .left .bottom .box a.img:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.block-1 .left .bottom .box a.edu {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.block-1 .left .bottom .box a.big-text {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #484848;
  margin-bottom: 12px;
}
.block-1 .left .bottom .box .small-text p {
  font-family: MuseoSansCyrl-Medium, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
  margin-right: 10px;
}
.block-1 .right {
  width: 220px;
}
.block-1 .right a.head-link {
  font-family: Museosanscyrl-Black, sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #BDBDBD;
  margin-bottom: 20px;
}
.block-1 .right .afisha {
  height: 100%;
}
.block-1 .right .afisha a {
  color: #484848;
}
.block-1 .right .afisha a img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-device-width: 992px) {
  .block-1 {
    height: auto;
  }
  .block-1 .left {
    width: 100%;
  }
  .block-1 .left .top .main-carousel {
    width: 100%;
  }
  .block-1 .left .top .right {
    margin-top: 40px;
    width: 100%;
  }
  .block-1 .left .top .right a.head-link {
    font-family: "MuseoSansCyrl-Medium", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #484848;
    margin-bottom: 25px;
  }
  .block-1 .left .top .right .masterclass a.big-text {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }
  .block-1 .left .top .right .masterclass a.small-text {
    width: 100%;
  }
  .block-1 .left .bottom {
    width: 100%;
  }
  .block-1 .left .bottom .box {
    width: 100%;
    height: 85px;
    margin-bottom: 15px;
  }
  .block-1 .left .bottom .box a.img {
    margin-bottom: 0;
  }
  .block-1 .left .bottom .box a.img .pic4a {
    width: 102px;
    height: 70px;
    border-radius: 8px;
  }
  .block-1 .left .bottom .box .block-txt {
    margin-left: 20px;
  }
  .block-1 .left .bottom .box a.edu {
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    color: #484848;
    margin-bottom: 8px;
  }
  .block-1 .left .bottom .box a.big-text {
    font-family: "Museosanscyrl-Bold", sans-serif;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #484848;
    margin-bottom: 7px;
  }
  .block-1 .left .bottom .box .small-text p {
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 8px;
    line-height: 9px;
    color: #BDBDBD;
  }
  .block-1 .right .afisha {
    height: 100%;
  }
  .block-1 .right .afisha a {
    margin-bottom: 20px;
  }
}
.block-2 .left {
  width: 700px;
}
.block-2 .left .headline {
  margin-bottom: 15px;
}
.block-2 .left .headline a {
  font-family: "Museosanscyrl-Medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #484848;
}
.block-2 .left .headline a .bi {
  margin-left: 15px;
}
.block-2 .left .headline div.line {
  width: 579px;
  height: 0.7px;
  border: 0.7px solid #BDBDBD;
}
.block-2 .left .mini-banner .box:first-child {
  width: 100%;
  height: 281px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.block-2 .left .mini-banner .box:first-child .toper {
  margin-top: auto;
}
.block-2 .left .mini-banner .box:first-child .hidden-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}
.block-2 .left .mini-banner .box:first-child a.edu {
  display: none;
}
.block-2 .left .mini-banner .box:first-child a.big-text {
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  pointer-events: none;
  color: #F9F9F9;
  margin-bottom: 12px;
}
.block-2 .left .mini-banner .box:first-child .small-text p {
  font-family: "Museosanscyrl-Medium", sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  color: #F9F9F9;
}
.block-2 .left .mini-banner .box:first-child .small-img {
  display: none;
}
.block-2 .left .mini-banner .box:first-child:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.block-2 .left .mini-banner .box {
  width: 220px;
  height: 277px;
  border-radius: 8px;
  background-size: 0;
  background-position: top;
  background-repeat: no-repeat;
}
.block-2 .left .mini-banner .box .hidden-link {
  display: none;
}
.block-2 .left .mini-banner .box .img {
  margin-bottom: 16px;
  border-radius: 8px;
  width: 220px;
  height: 150px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.block-2 .left .mini-banner .box .img:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.block-2 .left .mini-banner .box a.edu {
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.block-2 .left .mini-banner .box a.big-text {
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #484848;
  margin-bottom: 12px;
}
.block-2 .left .mini-banner .box .small-text p {
  font-family: "Museosanscyrl-Medium", sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
  margin-right: 10px;
  margin-bottom: 0;
}
.block-2 .right {
  width: 220px;
}
.block-2 .right .headline {
  margin-bottom: 15px;
}
.block-2 .right .headline a {
  font-family: "Museosanscyrl-Medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #484848;
}
.block-2 .right .headline a .bi {
  margin-left: 15px;
}
.block-2 .right .headline div.line {
  width: 114px;
  height: 0.7px;
  border: 0.7px solid #BDBDBD;
}
.block-2 .right .mini-banner .box {
  width: 220px;
  height: 277px;
}
.block-2 .right .mini-banner .box .img {
  margin-bottom: 16px;
  border-radius: 8px;
  width: 220px;
  height: 150px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.block-2 .right .mini-banner .box .img:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.block-2 .right .mini-banner .box a.edu {
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.block-2 .right .mini-banner .box a.description *:hover {
  color: #0113ff !important;
  text-decoration: none !important;
}
.block-2 .right .mini-banner .box .big-text p {
  font-family: "Museosanscyrl-Bold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #484848;
  margin-bottom: 12px;
}
.block-2 .right .mini-banner .box .small-text p {
  font-family: "Museosanscyrl-Medium", sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
  margin-right: 10px;
  margin-bottom: 0;
}

@media screen and (max-device-width: 992px) {
  .block-2 .left {
    width: 100%;
  }
  .block-2 .left .headline {
    width: 100%;
  }
  .block-2 .left .headline div.line {
    display: none;
  }
  .block-2 .left .mini-banner {
    width: 100%;
  }
  .block-2 .left .mini-banner .box:first-child {
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
  }
  .block-2 .left .mini-banner .box:first-child a.edu {
    display: block;
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    color: #F9F9F9;
    margin-bottom: 5px;
  }
  .block-2 .left .mini-banner .box:first-child a.big-text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #F9F9F9;
    margin-bottom: 5px;
  }
  .block-2 .left .mini-banner .box:first-child .small-text p {
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 8px;
    line-height: 9px;
    color: #F9F9F9;
    letter-spacing: 0.05em;
  }
  .block-2 .left .mini-banner .toper {
    margin-top: auto;
  }
  .block-2 .left .mini-banner .box {
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  .block-2 .left .mini-banner .box .small-img {
    display: none;
  }
  .block-2 .left .mini-banner .box a.edu {
    display: block;
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    color: #F9F9F9;
    margin-bottom: 5px;
  }
  .block-2 .left .mini-banner .box a.big-text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #F9F9F9;
    margin-bottom: 5px;
  }
  .block-2 .left .mini-banner .box .small-text p {
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 8px;
    line-height: 9px;
    color: #F9F9F9;
    letter-spacing: 0.05em;
  }
  .block-2 .right {
    width: 100%;
    margin-top: 40px;
  }
  .block-2 .right .headline .line {
    display: none;
  }
  .block-2 .right .mini-banner .box {
    width: 100%;
    margin-bottom: 20px;
  }
  .block-2 .right .mini-banner .box a.edu {
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: #484848;
    margin-bottom: 7px;
  }
  .block-2 .right .mini-banner .box a.big-text {
    font-family: "Museosanscyrl-Bold", sans-serif;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #484848;
    margin-bottom: 10px;
  }
  .block-2 .right .mini-banner .box .small-text p {
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 8px;
    line-height: 9px;
    color: #BDBDBD;
  }
  .block-2 .right .mini-banner .box .img {
    width: 100%;
    height: 170px;
    background-size: 100%;
  }
}
.block-3 {
  margin-top: 20px;
}
.block-3 .headline {
  margin-bottom: 15px;
}
.block-3 .headline a {
  font-family: MuseoSansCyrl-Medium, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #484848;
}
.block-3 .headline a .bi {
  margin-left: 15px;
}
.block-3 .headline div.line {
  width: 796px;
  height: 0.7px;
  border: 0.7px solid #BDBDBD;
}
.block-3 p {
  font-family: Museosanscyrl-Medium, sans-serif;
  font-size: 16px;
  color: #484848;
}
.block-3 .offers .box {
  margin-top: 15px;
  margin-right: 20px;
  width: 220px;
  height: 270px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: 220px;
}
.block-3 .offers .box:nth-child(4n) {
  margin-right: 0;
}
.block-3 .offers .box img {
  display: none;
}
.block-3 .offers .box:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}

@media screen and (max-device-width: 992px) {
  .block-3 .headline div.line {
    display: none;
  }
  .block-3 .offers .box {
    width: 100%;
    height: auto;
    background-image: none;
    background-size: 100% auto;
    background-position: center;
    margin-right: 0;
  }
  .block-3 .offers .box img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.block-4 {
  margin-top: 32px;
}
.block-4 .headline {
  margin-bottom: 15px;
}
.block-4 .headline a {
  font-family: MuseoSansCyrl-Medium, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #484848;
}
.block-4 .headline a .bi {
  margin-left: 15px;
}
.block-4 .headline div.line {
  width: 715px;
  height: 0.7px;
  border: 0.7px solid #BDBDBD;
}
.block-4 a.title {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 10px;
  color: #BDBDBD;
  letter-spacing: 0.1em;
  margin-top: 15px;
  margin-bottom: 10px;
  text-decoration: none;
}
.block-4 .box {
  margin-top: 15px;
  width: 220px;
  height: 150px;
  background-color: red;
  border-radius: 8px;
}
.block-4 .box:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.block-4 .one {
  background: url("/img/love-1.jpg");
  background-size: 220px;
}
.block-4 .two {
  background: url("/img/love-2.jpg");
  background-size: 220px;
}
.block-4 .three {
  background: url("/img/love-3.jpg");
  background-size: 220px;
}
.block-4 .four {
  background: url("/img/love-4.jpg");
  background-size: 220px;
}
.block-4 a.card-title {
  width: 220px;
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #484848;
  margin-bottom: 12px;
  text-decoration: none;
}
.block-4 .card-subtitle {
  font-family: Museosanscyrl-Medium, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
}

.block-5 {
  margin-top: 32px;
}
.block-5 .headline {
  margin-bottom: 15px;
}
.block-5 .headline a {
  font-family: MuseoSansCyrl-Medium, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #484848;
}
.block-5 .headline a .bi {
  margin-left: 15px;
}
.block-5 .headline div.line {
  width: 796px;
  height: 0.7px;
  border: 0.7px solid #BDBDBD;
}
.block-5 a.title {
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 10px;
  color: #BDBDBD;
  letter-spacing: 0.1em;
  margin-top: 15px;
  margin-bottom: 10px;
  text-decoration: none;
}
.block-5 .box {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 220px;
  height: 150px;
  border-radius: 8px;
  background-size: 220px;
}
.block-5 .box:hover {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.8;
  transform: scale(1.03);
}
.block-5 a.card-title {
  width: 220px;
  font-family: Museosanscyrl-Bold, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #484848;
  text-decoration: none;
  margin-bottom: 12px;
}
.block-5 .card-subtitle {
  font-family: Museosanscyrl-Medium, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
}
.block-5 .flag {
  margin-right: 20px;
}
.block-5 .flag:nth-child(4n) {
  margin-right: 0;
}

@media screen and (max-device-width: 992px) {
  .block-5 .headline div.line {
    display: none;
  }
  .block-5 .box {
    width: 102px;
    height: 70px;
    margin-top: 0;
    background-size: cover;
  }
  .block-5 .block-txt {
    margin-left: 20px;
  }
  .block-5 a.card-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .block-5 p.card-subtitle {
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 8px;
    line-height: 9px;
  }
  .block-5 .flag {
    margin-bottom: 15px;
  }
}
.block-6 {
  margin-top: 60px;
}
.block-6 p {
  width: 460px;
  font-family: Museosanscyrl-Light, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #9696A4;
  margin-bottom: 0;
}

@media screen and (max-device-width: 992px) {
  .block-6 {
    margin-top: 40px;
  }
  .block-6 p {
    width: 100%;
    font-family: "Museosanscyrl-Light", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #9696A4;
    margin-bottom: 20px;
  }
}
.mb-20 {
  margin-bottom: 20px;
}
