
/*Museosanscyrl*/
@font-face {
    font-family: 'Museosanscyrl-Light';
    src: url('/fonts/Museosanscyrl-Light.eot');
    src: local('Museosanscyrl-Light'), local('Museosanscyrl-Light'),
    url('/fonts/Museosanscyrl-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Museosanscyrl-Light.woff') format('woff'),
    url('/fonts/Museosanscyrl-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museosanscyrl-Medium';
    src: url('/fonts/Museosanscyrl-Medium.eot');
    src: local('Museosanscyrl-Medium'), local('Museosanscyrl-Medium'),
    url('/fonts/Museosanscyrl-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Museosanscyrl-Medium.woff') format('woff'),
    url('/fonts/Museosanscyrl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museosanscyrl-Bold';
    src: url('/fonts/Museosanscyrl-Bold.eot');
    src: local('Museosanscyrl-Bold'), local('Museosanscyrl-Bold'),
    url('/fonts/Museosanscyrl-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Museosanscyrl-Bold.woff') format('woff'),
    url('/fonts/Museosanscyrl-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museosanscyrl-Black';
    src: url('/fonts/Museosanscyrl-Black.eot');
    src: local('Museosanscyrl-Black'), local('Museosanscyrl-Black'),
    url('/fonts/Museosanscyrl-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Museosanscyrl-Black.woff') format('woff'),
    url('/fonts/Museosanscyrl-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*Montserrat*/
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('/fonts/Montserrat-Medium.eot');
    src: local('Montserrat-Medium'), local('Montserrat-Medium'),
    url('/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Montserrat-Medium.woff') format('woff'),
    url('/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*ProximaNova*/
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/fonts/ProximaNova-Regular.eot');
    src: local('ProximaNova-Regular'), local('ProximaNova-Regular'),
    url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Regular.woff') format('woff'),
    url('/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('/fonts/ProximaNova-Bold.eot');
    src: local('ProximaNova-Bold'), local('ProximaNova-Bold'),
    url('/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Bold.woff') format('woff'),
    url('/fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('/fonts/ProximaNova-Semibold.eot');
    src: local('ProximaNova-Semibold'), local('ProximaNova-Semibold'),
    url('/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('/fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Extrabold';
    src: url('/fonts/ProximaNova-Extrabold.eot');
    src: local('ProximaNova-Extrabold'), local('ProximaNova-Extrabold'),
    url('/fonts/ProximaNova-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Extrabold.woff') format('woff'),
    url('/fonts/ProximaNova-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Black';
    src: url('/fonts/ProximaNova-Black.eot');
    src: local('ProximaNova-Black'), local('ProximaNova-Black'),
    url('/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Black.woff') format('woff'),
    url('/fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*BebasNeue*/
@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeue.eot');
    src: local('BebasNeue'), local('BebasNeue'),
    url('/fonts/BebasNeue.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*HelveticaNeueCyr*/
@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('/fonts/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'), local('HelveticaNeueCyr-Light'),
    url('/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('/fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Regular';
    src: url('/fonts/HelveticaNeueCyr-Regular.eot');
    src: local('HelveticaNeueCyr-Regular'), local('HelveticaNeueCyr-Regular'),
    url('/fonts/HelveticaNeueCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueCyr-Regular.woff') format('woff'),
    url('/fonts/HelveticaNeueCyr-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('/fonts/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'), local('HelveticaNeueCyr-Medium'),
    url('/fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('/fonts/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'), local('HelveticaNeueCyr-Bold'),
    url('/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
