.youCover, .youCover.active-iframe iframe {
    display: block
}

.youCover {
    position: relative;
    padding-bottom: 50%;
    padding-top: 25px;
    height: 0;
    background-color: #000;
    margin-bottom: 10px;
}

.youCover:before {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    -webkit-opacity: .5;
    opacity: .5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    content: " ";
    position: absolute;
    width: 100px;
    height: 70px;
    background-image: url('/img/youtube-ico.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 55%;
    margin-left: -50px;
    margin-top: -35px;
    z-index: 3
}

.youCover.active-iframe img {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0)
}

.youCover.active-iframe:before {
    -moz-opacity: 0 !important;
    -khtml-opacity: 0 !important;
    -webkit-opacity: 0 !important;
    opacity: 0 !important;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) !important;
    filter: alpha(opacity=0) !important;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    -moz-transform: scale(3);
    transform: scale(3)
}

.youCover iframe, .youCover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.youCover:hover:before {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100)
}

.youCover.fancybox-active img {
    border: 5px solid #663399
}
