#contact {
    padding-top: 120px;
    background-color: #FFFFFF;

    h2 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 35px;
        line-height: 43px;

        text-align: center;
        letter-spacing: 0.05em;

        color: #484848;

        margin-bottom: 72px;
    }

    .content {
        width: 980px;

        h3 {
            font-family: 'Montserrat-SemiBold', sans-serif;
            font-size: 24px;
            line-height: 29px;

            color: #484848;

            margin-bottom: 40px;
        }

        .box {
            margin-bottom: 60px;

            .big-txt {
                font-family: 'Montserrat-Medium', sans-serif;
                font-size: 20px;
                line-height: 24px;

                color: #484848;

                margin-bottom: 20px;
            }

            .small-txt {
                font-family: 'Montserrat-Medium', sans-serif;
                font-size: 18px;
                line-height: 22px;

                color: #484848;

                margin-bottom: 12px;

                & + .email {
                    color: #DA1E26;
                    margin-bottom: 0;
                }
            }
        }

        .form {
            width: 480px;

            input {
                width: 100%;
                height: 48px;
                background: #F1F2F3;
                border-radius: 5px;
                border: none;
                box-shadow: none;

                margin-bottom: 15px;
            }

            textarea {
                background: #F1F2F3;
                border-radius: 5px;
                border: none;

                min-height: 76px;
                height: 76px;
                max-height: 120px;

                margin-bottom: 20px;
            }

            button {
                width: 100%;
                height: 56px;

                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'Montserrat-Bold', sans-serif;
                font-size: 16px;
                line-height: 20px;

                letter-spacing: 0.05em;

                color: #FFFFFF;

                background: #DA1E26;
                border-radius: 5px;

                border: 1px solid #DA1E26;
                transition: 0.2s;

                &:hover {
                    background-color: transparent;
                    color: #DA1E26;
                    transition: 0.2s;
                }
            }

            small {
                margin-top: 15px;
                font-family: 'Montserrat-Regular', sans-serif;
                font-size: 14px;
                line-height: 17px;

                color: #484848;
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    #contact {
        h2 {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 25px;
            text-align: left;
        }

        .content {
            width: 100%;

            h3 {
                font-size: 26px;
                line-height: 32px;
                margin-bottom: 25px
            }

            .big-txt {

            }

            .box {
                margin-bottom: 40px;

                .small-txt {
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .form {
                margin-top: 15px;
                width: 100%;
            }
        }
    }
}
