#faq {
    padding-top: 120px;
    background-color: #FFFFFF;
    padding-bottom: 100px;

    h2 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 35px;
        line-height: 43px;

        text-align: center;
        letter-spacing: 0.05em;

        color: #484848;

        margin-bottom: 60px;
    }

    #faqAccordion {
        width: 820px;

        & * {
            border: none;
            box-shadow: none;
        }

        .accordion-header {
            margin-bottom: 0;

            .accordion-button {
                height: 69px;
                padding-left: 20px;
                padding-top: 20px;
                padding-bottom: 20px;

                font-family: 'Montserrat-SemiBold', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;

                color: #484848;

                border-bottom: 1px solid #E1E1E1;
            }
        }

        .accordion-body {
            font-family: 'Montserrat-Regular', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;

            color: #484848;
        }

        .accordion-button:not(.collapsed) {
            background-color: transparent;
        }
    }
}

@media screen and (max-device-width: 992px) {
    #faq {
        padding-top: 70px;
        padding-bottom: 70px;

        h2 {
            font-size: 26px;
            line-height: 32px;
            text-align: left;

            margin-bottom: 30px;
        }

        #faqAccordion {
            width: 100%;

            .accordion-header {
                .accordion-button {
                    padding-left: 0;
                    font-size: 16px;
                    line-height: 20px;
                    height: 80px;
                }
            }

            .accordion-body {
                font-size: 14px;
                line-height: 17px;
                padding-left: 0;
            }
        }
    }
}
