footer {
    padding-top: 110px;
    background-color: #FFFFFF;

    .footer {
        padding-top: 35px;
        padding-bottom: 40px;

        font-family: 'Montserrat-Medium', sans-serif;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #484848;

        border-top: 2px solid #DA1E26;

        p {
            margin-bottom: 0;
        }

        a {
            color: #484848;
        }
    }
}

@media screen and (max-device-width: 992px) {
    footer {
        .footer {
            padding-top: 25px;
            p, a {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

