#header {
    padding-top: 22px;
    background-color: #FFFFFF;

    .logo {
        img {
            width: 100px;
            height: 100px;
        }
    }

    .partners {
        div {
            width: 205px;
            height: 56px;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid #DA1E26;
            box-sizing: border-box;
            border-radius: 5px;

            font-family: 'Montserrat-Bold', sans-serif;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;

            color: #DA1E26;
            transition: 0.2s;

            &:hover {
                background-color: #DA1E26;
                color: #ffffff;
                transition: 0.2s;
            }
        }
    }
}
