#open_biz {
    padding-top: 68px;
    padding-bottom: 120px;
    background-color: #FFFFFF;

    h1 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 48px;
        line-height: 59px;

        text-align: center;

        background: #DA1E26;
        background: -webkit-linear-gradient(to right, #DA1E26 5%, #364693 95%);
        background: -moz-linear-gradient(to right, #DA1E26 5%, #364693 95%);
        background: linear-gradient(to right, #DA1E26 5%, #364693 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin-bottom: 20px;
    }

    .small-txt {
        font-family: 'Montserrat-Medium', sans-serif;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.05em;

        color: #484848;

        margin-bottom: 0;
    }

    .request {
        margin-top: 70px;

        .video {
            width: 680px;
            height: auto;
        }

        .form {
            width: 480px;

            .big-txt {
                font-family: 'Montserrat-SemiBold', sans-serif;
                font-size: 24px;
                line-height: 29px;

                color: #484848;

                margin-bottom: 10px;
            }

            .small-txt {
                font-family: 'Montserrat-Regular', sans-serif;
                font-size: 18px;
                line-height: 22px;
                text-align: left;

                color: #484848;

                margin-bottom: 20px;
            }

            textarea {
                width: 100%;
                min-height: 76px;
                height: 76px;
                max-height: 100px;
                background: #F1F2F3;
                border-radius: 5px;
                border: none;
                box-shadow: none;
            }

            input {
                width: 100%;
                height: 48px;

                background: #F1F2F3;
                border-radius: 5px;
                border: none;

                box-shadow: none;

                margin-top: 15px;
            }

            button {
                width: 100%;
                height: 56px;

                background: #DA1E26;
                border-radius: 5px;
                border: 1px solid #DA1E26;

                font-family: 'Montserrat-Bold', sans-serif;
                font-size: 16px;
                line-height: 20px;

                letter-spacing: 0.05em;

                color: #FFFFFF;

                margin-top: 20px;
                transition: 0.2s;

                &:hover {
                    background-color: transparent;
                    color: #DA1E26;
                    transition: 0.2s;
                }
            }

            small {
                font-family: 'Montserrat-Regular', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;

                color: #484848;

                margin-top: 15px;
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    #open_biz {
        h1 {
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 0.05em;
            text-align: left;
        }

        .small-txt {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;
            text-align: left;
        }

        .request {
            margin-top: 40px;

            .video {
                width: 100%;
                height: auto;
                margin-bottom: 40px;
            }

            .form {
                width: 100%;

                .small-txt {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}
