#process {
    padding-top: 120px;
    background-color: #FFFFFF;

    h2 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 43px;
        text-align: center;
        letter-spacing: 0.05em;

        color: #484848;

        margin-bottom: 60px;
    }

    .stepline {
        width: 36px;
        height: 654px;
        margin-left: 92px;
        margin-right: 92px;
    }

    .up {
        margin-bottom: 157px;
    }

    .down {
        margin-top: 160px;
    }

    .box {
        width: 280px;
        height: auto;

        i {
            font-size: 36px;
        }

        img {
            margin-bottom: 5px;
            width: 36px;
            height: 36px;
        }

        .big-txt {
            font-family: 'Montserrat-Medium', sans-serif;
            font-size: 20px;
            line-height: 24px;
            text-align: center;

            color: #484848;

            margin-bottom: 10px;
        }

        .small-txt {
            font-family: 'Montserrat-Light', sans-serif;
            font-size: 16px;
            line-height: 20px;
            text-align: center;

            color: #000000;

            a {
                text-decoration: underline;
                color: #DA1E26;
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    #process {
        h2 {
            font-family: 'Montserrat-SemiBold', sans-serif;
            font-size: 26px;
            line-height: 32px;

            margin-bottom: 42px;
        }

        .stepline {
            margin-left: 0;
            margin-right: 28px;
        }

        .up {
            margin-bottom: 0;
        }

        .down {
            margin-top: 0;
        }

        .box {
            margin-top: 0;

            img {
                margin-right: 15px;
            }

            .big-txt {
                text-align: left;
            }

            .small-txt {
                text-align: left;
            }
        }
    }
}
