#service_list {
    padding-top: 120px;
    background-color: #FFFFFF;

    h2 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 35px;
        line-height: 43px;
        text-align: center;
        letter-spacing: 0.05em;

        color: #484848;

        margin-bottom: 60px;
    }

    .service-list {
        div {
            width: 280px;
            height: 210px;

            padding-left: 30px;
            padding-right: 30px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-position: center;
            background-size: 100% auto;
            border-radius: 5px;

            font-family: 'Montserrat-Regular', sans-serif;
            font-size: 20px;
            line-height: 24px;
            text-align: center;

            color: #FFFFFF;
        }
    }
}

@media screen and (max-device-width: 992px) {
    #service_list {
        padding-top: 70px;
        h2 {
            margin-bottom: 25px;
            font-family: 'Montserrat-SemiBold', sans-serif;
            font-size: 26px;
            line-height: 32px;
            text-align: left;
        }

        .service-list {
            div {
                width: 100%;
                height: 170px;
                margin-bottom: 15px;
            }
        }
    }
}
