.success {
    svg {
        width: 100px;
        height: 100px;

        margin-bottom: 20px;
    }

    .big-txt {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 48px;
        line-height: 59px;

        letter-spacing: 0.05em;

        color: #484848;

        margin-bottom: 30px;
    }

    .small-txt {
        font-family: 'Montserrat-Regular', sans-serif;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        color: #484848;

        margin-bottom: 50px;
    }

    .insta-txt {
        font-family: 'Montserrat-Regular', sans-serif;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #484848;

        margin-bottom: 15px;
    }

    a {
        img {
            width: 291px;
            height: 56px;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .success {
        margin-top: 100px;
        svg {
            width: 75px;
            height: 75px;
        }

        .big-txt {
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 15px;
        }

        .small-txt {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 25px;
        }

        .insta-txt {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 15px;
        }

        a {
            img {
                width: 291px;
                height: 56px;
            }
        }
    }
}
