#want {
    padding-top: 59px;
    padding-bottom: 59px;

    background: #364693;

    .block {
        width: 820px;
        font-family: 'Montserrat-Medium', sans-serif;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.05em;

        color: #FFFFFF;

        a {
            div {
                width: 189px;
                height: 56px;

                display: flex;
                justify-content: center;
                align-items: center;

                font-family: 'Montserrat-Bold', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;

                letter-spacing: 0.05em;

                color: #FFFFFF;

                background: #DA1E26;
                border-radius: 5px;
                border: 1px solid #DA1E26;
                transition: 0.2s;

                &:hover {
                    background-color: transparent;
                    transition: 0.2s;
                }
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    #want {
        padding-top: 50px;
        padding-bottom: 50px;

        .block {
            width: 100%;
            font-size: 16px;
            line-height: 20px;

            a {
                margin-top: 35px;

                div {
                    width: 100%;
                }
            }
        }
    }
}
