.block-5 {
    margin-top: 32px;

    .headline {
        margin-bottom: 15px;
        a {
            font-family: MuseoSansCyrl-Medium, sans-serif;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;

            color: #484848;

            .bi {
                margin-left: 15px;
            }
        }

        div.line {
            width: 796px;
            height: 0.7px;
            border: 0.7px solid #BDBDBD;
        }
    }

    a.title {

        font-family: Museosanscyrl-Bold, sans-serif;
        font-size: 10px;
        color: #BDBDBD;
        letter-spacing: 0.1em;
        margin-top: 15px;
        margin-bottom: 10px;

        text-decoration: none;
    }

    .box {

        margin-top: 20px;
        margin-bottom: 15px;
        width: 220px;
        height: 150px;
        border-radius: 8px;
        background-size: 220px;

        &:hover {
            transition: transform .2s cubic-bezier(.215,.61,.355,1),-webkit-transform .2s cubic-bezier(.215,.61,.355,1);
            opacity: .8;
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
        }
    }

    a.card-title {
        width: 220px;

        font-family: Museosanscyrl-Bold, sans-serif;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        color: #484848;

        text-decoration: none;

        margin-bottom: 12px;
    }

    .card-subtitle {
        font-family: Museosanscyrl-Medium, sans-serif;
        font-size: 10px;
        line-height: 12px;
        color: #BDBDBD;

    }

    .flag {
        margin-right: 20px;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .block-5 {
        .headline {
            div.line {
                display: none;
            }
        }

        .box {
            width: 102px;
            height: 70px;
            margin-top: 0;
            background-size: cover;
        }

        .block-txt {
            margin-left: 20px;
        }

        a.card-title {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 10px;
        }

        p.card-subtitle {
            font-family: "Museosanscyrl-Light", sans-serif;
            font-size: 8px;
            line-height: 9px;
        }

        .flag {
            margin-bottom: 15px;
        }
    }
}
