.block-2 {
    .left {
        width: 700px;

        .headline {
            margin-bottom: 15px;

            a {
                font-family: "Museosanscyrl-Medium", sans-serif;
                font-size: 16px;
                line-height: 19px;
                text-decoration: none;

                color: #484848;

                .bi {
                    margin-left: 15px;
                }
            }

            div.line {
                width: 579px;
                height: 0.7px;
                border: 0.7px solid #BDBDBD;
            }
        }

        .mini-banner {

            .box:first-child {
                width: 100%;
                height: 281px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                padding: 25px;

                border-radius: 8px;

                .toper {
                    margin-top: auto;
                }

                .hidden-link {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    bottom: 0;
                }

                a.edu {
                    display: none;
                }

                a.big-text {
                    font-family: "Museosanscyrl-Bold", sans-serif;
                    font-size: 25px;
                    line-height: 29px;
                    letter-spacing: 0.05em;

                    pointer-events: none;

                    color: #F9F9F9;

                    margin-bottom: 12px;
                }

                .small-text {
                    p {
                        font-family: "Museosanscyrl-Medium", sans-serif;
                        font-size: 10px;
                        line-height: 12px;

                        letter-spacing: 0.05em;

                        color: #F9F9F9;
                    }
                }

                .small-img {
                    display: none;
                }

                margin-bottom: 20px;

                &:hover {
                    transition: transform .2s cubic-bezier(.215, .61, .355, 1), -webkit-transform .2s cubic-bezier(.215, .61, .355, 1);
                    opacity: .8;
                    -webkit-transform: scale(1.03);
                    transform: scale(1.03);
                }
            }

            .box {
                width: 220px;
                height: 277px;

                border-radius: 8px;

                background-size: 0;
                background-position: top;
                background-repeat: no-repeat;

                .hidden-link {
                    display: none;
                }

                .img {
                    margin-bottom: 16px;
                    border-radius: 8px;
                    width: 220px;
                    height: 150px;
                    background-position: center;
                    background-size: auto 100%;
                    background-repeat: no-repeat;

                    &:hover {
                        transition: transform .2s cubic-bezier(.215, .61, .355, 1), -webkit-transform .2s cubic-bezier(.215, .61, .355, 1);
                        opacity: .8;
                        -webkit-transform: scale(1.03);
                        transform: scale(1.03);
                    }
                }

                a.edu {
                    font-family: "Museosanscyrl-Bold", sans-serif;
                    font-size: 10px;
                    line-height: 12px;

                    letter-spacing: 0.1em;
                    text-decoration: none;

                    color: #BDBDBD;

                    margin-bottom: 10px;
                }

                a.big-text {
                    font-family: "Museosanscyrl-Bold", sans-serif;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.05em;
                    text-decoration: none;

                    color: #484848;

                    margin-bottom: 12px;
                }

                .small-text {
                    p {
                        font-family: "Museosanscyrl-Medium", sans-serif;
                        font-size: 10px;
                        line-height: 12px;

                        color: #BDBDBD;

                        margin-right: 10px;
                        margin-bottom: 0;
                    }
                }

            }
        }

    }

    .right {
        width: 220px;

        .headline {
            margin-bottom: 15px;

            a {
                font-family: "Museosanscyrl-Medium", sans-serif;
                font-size: 16px;
                line-height: 19px;
                text-decoration: none;

                color: #484848;

                .bi {
                    margin-left: 15px;
                }
            }

            div.line {
                width: 114px;
                height: 0.7px;
                border: 0.7px solid #BDBDBD;
            }
        }

        .mini-banner {
            .box {
                width: 220px;
                height: 277px;

                .img {
                    margin-bottom: 16px;
                    border-radius: 8px;
                    width: 220px;
                    height: 150px;
                    background-position: center;
                    background-size: 100% auto;
                    background-repeat: no-repeat;

                    &:hover {
                        transition: transform .2s cubic-bezier(.215, .61, .355, 1), -webkit-transform .2s cubic-bezier(.215, .61, .355, 1);
                        opacity: .8;
                        -webkit-transform: scale(1.03);
                        transform: scale(1.03);
                    }

                }

                a.edu {
                    font-family: "Museosanscyrl-Bold", sans-serif;
                    font-size: 10px;
                    line-height: 12px;

                    letter-spacing: 0.1em;

                    color: #BDBDBD;

                    margin-bottom: 10px;
                }

                a.description {
                    *:hover {
                        color: #0113ff !important;
                        text-decoration: none !important;
                    }
                }

                .big-text {
                    p {
                            font-family: "Museosanscyrl-Bold", sans-serif;
                            font-size: 16px;
                            line-height: 19px;
                            letter-spacing: 0.05em;

                            color: #484848;

                            margin-bottom: 12px;
                    }
                }

                .small-text {
                    p {
                        font-family: "Museosanscyrl-Medium", sans-serif;
                        font-size: 10px;
                        line-height: 12px;

                        color: #BDBDBD;

                        margin-right: 10px;
                        margin-bottom: 0;
                    }
                }

            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    .block-2 {
        .left {
            width: 100%;

            .headline {
                width: 100%;

                div.line {
                    display: none;
                }
            }

            .mini-banner {
                width: 100%;

                .box:first-child {
                    padding-left: 15px;
                    padding-bottom: 15px;
                    width: 100%;
                    height: 170px;

                    margin-bottom: 10px;

                    a.edu {
                        display: block;
                        font-family: "Museosanscyrl-Light" ,sans-serif;
                        font-size: 10px;
                        line-height: 12px;

                        letter-spacing: 0.1em;

                        color: #F9F9F9;

                        margin-bottom: 5px;
                    }

                    a.big-text {
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.05em;

                        color: #F9F9F9;

                        margin-bottom: 5px;
                    }

                    .small-text {
                        p {
                            font-family: "Museosanscyrl-Light", sans-serif;
                            font-size: 8px;
                            line-height: 9px;

                            color: #F9F9F9;

                            letter-spacing: 0.05em;
                        }
                    }
                }

                .toper {
                    margin-top: auto;
                }

                .box {
                    padding-left: 15px;
                    padding-bottom: 15px;
                    width: 100%;
                    height: 170px;

                    background-size: cover;
                    background-position: top;
                    background-repeat: no-repeat;

                    margin-bottom: 10px;

                    .small-img {
                        display: none;
                    }

                    a.edu {
                        display: block;
                        font-family: "Museosanscyrl-Light" ,sans-serif;
                        font-size: 10px;
                        line-height: 12px;

                        letter-spacing: 0.1em;

                        color: #F9F9F9;

                        margin-bottom: 5px;
                    }

                    a.big-text {
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.05em;

                        color: #F9F9F9;

                        margin-bottom: 5px;
                    }

                    .small-text {
                        p {
                            font-family: "Museosanscyrl-Light", sans-serif;
                            font-size: 8px;
                            line-height: 9px;

                            color: #F9F9F9;

                            letter-spacing: 0.05em;
                        }
                    }
                }
            }
        }

        .right {
            width: 100%;
            margin-top: 40px;

            .headline {
                .line {
                    display: none;
                }
            }

            .mini-banner {
                .box {
                    width: 100%;

                    margin-bottom: 20px;

                    a.edu {
                        font-family: "Museosanscyrl-Light", sans-serif;
                        font-size: 12px;
                        line-height: 14px;

                        letter-spacing: 0.1em;

                        color: #484848;

                        margin-bottom: 7px;
                    }

                    a.big-text {
                        font-family: "Museosanscyrl-Bold", sans-serif;
                        font-size: 14px;
                        line-height: 100%;

                        letter-spacing: 0.05em;

                        color: #484848;

                        margin-bottom: 10px;
                    }

                    .small-text {
                        p {
                            font-family: "Museosanscyrl-Light", sans-serif;
                            font-size: 8px;
                            line-height: 9px;

                            color: #BDBDBD;
                        }
                    }

                    .img {
                        width: 100%;
                        height: 170px;
                        background-size: 100%;
                    }
                }
            }

        }
    }
}
