.block-1 {
    margin-bottom: 30px;
    height: 610px;

    .left {
        width: 690px;

        .top {
            margin-bottom: 20px;

            .main-carousel {
                width: 100%;

                .carousel-inner {
                    border-radius: 8px;
                }

                .carousel-indicators {
                    margin-bottom: 0;

                    button {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        opacity: 1;

                        &[aria-current="true"] {
                            background-color: #DA1E26;
                        }
                    }
                }
            }
        }

        .bottom {
            width: 100%;

            .box {
                width: 220px;
                height: 270px;

                margin-right: auto;

                &:nth-child(3n) {
                    margin-right: 0;
                }

                a.img {
                    width: 100%;
                    margin-bottom: 16px;
                    text-decoration: none;

                    .pic4a {
                        width: 100%;
                        height: 150px;
                        background-size: 100% auto;
                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 16px;
                    }

                    &:hover {
                        transition: transform .2s cubic-bezier(.215, .61, .355, 1), -webkit-transform .2s cubic-bezier(.215, .61, .355, 1);
                        opacity: .8;
                        -webkit-transform: scale(1.03);
                        transform: scale(1.03);
                    }
                }

                a.edu {
                    font-family: Museosanscyrl-Bold, sans-serif;
                    font-size: 10px;
                    line-height: 12px;

                    letter-spacing: 0.1em;
                    text-decoration: none;

                    color: #BDBDBD;

                    margin-bottom: 10px;
                }

                a.big-text {
                    font-family: Museosanscyrl-Bold, sans-serif;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.05em;
                    text-decoration: none;

                    color: #484848;

                    margin-bottom: 12px;
                }

                .small-text {
                    p {
                        font-family: MuseoSansCyrl-Medium, sans-serif;
                        font-size: 10px;
                        line-height: 12px;

                        color: #BDBDBD;

                        margin-right: 10px;
                    }
                }

            }
        }
    }

    .right {
        width: 220px;

        a.head-link {
            font-family: Museosanscyrl-Black, sans-serif;
            font-size: 12px;
            line-height: 12px;

            letter-spacing: 0.1em;
            text-decoration: none;

            color: #BDBDBD;

            margin-bottom: 20px;

        }

        .afisha {
            height: 100%;

            a {
                color: #484848;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    .block-1 {
        height: auto;

        .left {
            width: 100%;

            .top {

                .main-carousel {
                    width: 100%;
                }

                .right {
                    margin-top: 40px;
                    width: 100%;

                    a.head-link {
                        font-family: "MuseoSansCyrl-Medium", sans-serif;
                        font-size: 16px;
                        line-height: 19px;

                        letter-spacing: 0.1em;

                        color: #484848;

                        margin-bottom: 25px;

                    }

                    .masterclass {
                        a.big-text {
                            font-size: 14px;
                            line-height: 16px;

                            letter-spacing: 0.05em;
                        }

                        a.small-text {
                            width: 100%;
                        }
                    }
                }
            }

            .bottom {
                width: 100%;

                .box {
                    width: 100%;
                    height: 85px;
                    margin-bottom: 15px;

                    a.img {
                        margin-bottom: 0;

                        .pic4a {
                            width: 102px;
                            height: 70px;
                            border-radius: 8px;
                        }
                    }

                    .block-txt {
                        margin-left: 20px;
                    }

                    a.edu {
                        font-family: "Museosanscyrl-Light", sans-serif;
                        font-size: 10px;
                        line-height: 12px;

                        letter-spacing: 0.1em;

                        color: #484848;

                        margin-bottom: 8px;
                    }

                    a.big-text {
                        font-family: "Museosanscyrl-Bold", sans-serif;
                        font-size: 13px;
                        line-height: 100%;

                        letter-spacing: 0.05em;

                        color: #484848;

                        margin-bottom: 7px;
                    }

                    .small-text {
                        p {
                            font-family: "Museosanscyrl-Light", sans-serif;
                            font-size: 8px;
                            line-height: 9px;

                            color: #BDBDBD;
                        }
                    }
                }
            }
        }

        .right {
            .afisha {
                height: 100%;

                a {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
