.block-4 {
    margin-top: 32px;

    .headline {
        margin-bottom: 15px;
        a {
            font-family: MuseoSansCyrl-Medium, sans-serif;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;

            color: #484848;

            .bi {
                margin-left: 15px;
            }
        }

        div.line {
            width: 715px;
            height: 0.7px;
            border: 0.7px solid #BDBDBD;
        }
    }

    a.title {

        font-family: Museosanscyrl-Bold, sans-serif;
        font-size: 10px;
        color: #BDBDBD;
        letter-spacing: 0.1em;
        margin-top: 15px;
        margin-bottom: 10px;

        text-decoration: none;
    }

    .box {

        margin-top: 15px;
        width: 220px;
        height: 150px;
        background-color: red;
        border-radius: 8px;

        &:hover {
            transition: transform .2s cubic-bezier(.215,.61,.355,1),-webkit-transform .2s cubic-bezier(.215,.61,.355,1);
            opacity: .8;
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
        }
    }

    .one {
        background: url('/img/love-1.jpg');
        background-size: 220px;
    }

    .two {
        background: url('/img/love-2.jpg');
        background-size: 220px;
    }

    .three {
        background: url('/img/love-3.jpg');
        background-size: 220px;
    }

    .four {
        background: url('/img/love-4.jpg');
        background-size: 220px;
    }

    a.card-title {
        width: 220px;

        font-family: Museosanscyrl-Bold, sans-serif;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        color: #484848;

        margin-bottom: 12px;

        text-decoration: none;
    }

    .card-subtitle {
        font-family: Museosanscyrl-Medium, sans-serif;
        font-size: 10px;
        line-height: 12px;
        color: #BDBDBD;

    }
}
