.block-6 {
    margin-top: 60px;

    p {
        width: 460px;
        font-family: Museosanscyrl-Light, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #9696A4;

        margin-bottom: 0;
    }
}

@media screen and (max-device-width: 992px) {
    .block-6 {
        margin-top: 40px;

        p {
            width: 100%;
            font-family: "Museosanscyrl-Light", sans-serif;
            font-size: 12px;
            line-height: 14px;

            color: #9696A4;

            margin-bottom: 20px;
        }
    }
}
