.block-3 {

    margin-top: 20px;

    .headline {
        margin-bottom: 15px;

        a {
            font-family: MuseoSansCyrl-Medium, sans-serif;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;

            color: #484848;

            .bi {
                margin-left: 15px;
            }
        }

        div.line {
            width: 796px;
            height: 0.7px;
            border: 0.7px solid #BDBDBD;
        }
    }

    p {
        font-family: Museosanscyrl-Medium, sans-serif;
        font-size: 16px;
        color: #484848;
    }

    .offers {
        .box {
            &:nth-child(4n) {
                margin-right: 0;
            }

            margin-top: 15px;
            margin-right: 20px;
            width: 220px;
            height: 270px;
            border-radius: 8px;

            background-repeat: no-repeat;
            background-size: 220px;

            img {
                display: none;
            }

            &:hover {
                transition: transform .2s cubic-bezier(.215, .61, .355, 1), -webkit-transform .2s cubic-bezier(.215, .61, .355, 1);
                opacity: .8;
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    .block-3 {
        .headline {
            div.line {
                display: none;
            }
        }

        .offers {
            .box {
                width: 100%;
                height: auto;
                background-image: none;
                background-size: 100% auto;
                background-position: center;
                margin-right: 0;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

