html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

//Base
@import "base/base";

//Partials
@import "partials/header";
@import "partials/open_biz";
@import "partials/service_list";
@import "partials/process";
@import "partials/faq";
@import "partials/want";
@import "partials/contact";
@import "partials/footer";
@import "partials/success";
@import "test/test";
