html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@media screen and (min-device-width: 992px) {
  .container {
    width: 1204px;
  }
}
/* Video Parallax Section*/
#parallax {
  height: 300px;
  padding-bottom: 50px;
  padding-top: 50px;
}

#parallax video {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -9999;
}

#parallax h3 {
  color: #fff;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-device-width: 992px) {
  #parallax video {
    width: 400%;
    z-index: -999;
    left: -145%;
  }
}
#header {
  padding-top: 22px;
  background-color: #FFFFFF;
}
#header .logo img {
  width: 100px;
  height: 100px;
}
#header .partners div {
  width: 205px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DA1E26;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #DA1E26;
  transition: 0.2s;
}
#header .partners div:hover {
  background-color: #DA1E26;
  color: #ffffff;
  transition: 0.2s;
}

#open_biz {
  padding-top: 68px;
  padding-bottom: 120px;
  background-color: #FFFFFF;
}
#open_biz h1 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  background: #DA1E26;
  background: linear-gradient(to right, #DA1E26 5%, #364693 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
#open_biz .small-txt {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #484848;
  margin-bottom: 0;
}
#open_biz .request {
  margin-top: 70px;
}
#open_biz .request .video {
  width: 680px;
  height: auto;
}
#open_biz .request .form {
  width: 480px;
}
#open_biz .request .form .big-txt {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #484848;
  margin-bottom: 10px;
}
#open_biz .request .form .small-txt {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #484848;
  margin-bottom: 20px;
}
#open_biz .request .form textarea {
  width: 100%;
  min-height: 76px;
  height: 76px;
  max-height: 100px;
  background: #F1F2F3;
  border-radius: 5px;
  border: none;
  box-shadow: none;
}
#open_biz .request .form input {
  width: 100%;
  height: 48px;
  background: #F1F2F3;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  margin-top: 15px;
}
#open_biz .request .form button {
  width: 100%;
  height: 56px;
  background: #DA1E26;
  border-radius: 5px;
  border: 1px solid #DA1E26;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 20px;
  transition: 0.2s;
}
#open_biz .request .form button:hover {
  background-color: transparent;
  color: #DA1E26;
  transition: 0.2s;
}
#open_biz .request .form small {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #484848;
  margin-top: 15px;
}

@media screen and (max-device-width: 992px) {
  #open_biz h1 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  #open_biz .small-txt {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  #open_biz .request {
    margin-top: 40px;
  }
  #open_biz .request .video {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  #open_biz .request .form {
    width: 100%;
  }
  #open_biz .request .form .small-txt {
    font-size: 16px;
    line-height: 20px;
  }
}
#service_list {
  padding-top: 120px;
  background-color: #FFFFFF;
}
#service_list h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #484848;
  margin-bottom: 60px;
}
#service_list .service-list div {
  width: 280px;
  height: 210px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 100% auto;
  border-radius: 5px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-device-width: 992px) {
  #service_list {
    padding-top: 70px;
  }
  #service_list h2 {
    margin-bottom: 25px;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 26px;
    line-height: 32px;
    text-align: left;
  }
  #service_list .service-list div {
    width: 100%;
    height: 170px;
    margin-bottom: 15px;
  }
}
#process {
  padding-top: 120px;
  background-color: #FFFFFF;
}
#process h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #484848;
  margin-bottom: 60px;
}
#process .stepline {
  width: 36px;
  height: 654px;
  margin-left: 92px;
  margin-right: 92px;
}
#process .up {
  margin-bottom: 157px;
}
#process .down {
  margin-top: 160px;
}
#process .box {
  width: 280px;
  height: auto;
}
#process .box i {
  font-size: 36px;
}
#process .box img {
  margin-bottom: 5px;
  width: 36px;
  height: 36px;
}
#process .box .big-txt {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #484848;
  margin-bottom: 10px;
}
#process .box .small-txt {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
#process .box .small-txt a {
  text-decoration: underline;
  color: #DA1E26;
}

@media screen and (max-device-width: 992px) {
  #process h2 {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 42px;
  }
  #process .stepline {
    margin-left: 0;
    margin-right: 28px;
  }
  #process .up {
    margin-bottom: 0;
  }
  #process .down {
    margin-top: 0;
  }
  #process .box {
    margin-top: 0;
  }
  #process .box img {
    margin-right: 15px;
  }
  #process .box .big-txt {
    text-align: left;
  }
  #process .box .small-txt {
    text-align: left;
  }
}
#faq {
  padding-top: 120px;
  background-color: #FFFFFF;
  padding-bottom: 100px;
}
#faq h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #484848;
  margin-bottom: 60px;
}
#faq #faqAccordion {
  width: 820px;
}
#faq #faqAccordion * {
  border: none;
  box-shadow: none;
}
#faq #faqAccordion .accordion-header {
  margin-bottom: 0;
}
#faq #faqAccordion .accordion-header .accordion-button {
  height: 69px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #484848;
  border-bottom: 1px solid #E1E1E1;
}
#faq #faqAccordion .accordion-body {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #484848;
}
#faq #faqAccordion .accordion-button:not(.collapsed) {
  background-color: transparent;
}

@media screen and (max-device-width: 992px) {
  #faq {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #faq h2 {
    font-size: 26px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 30px;
  }
  #faq #faqAccordion {
    width: 100%;
  }
  #faq #faqAccordion .accordion-header .accordion-button {
    padding-left: 0;
    font-size: 16px;
    line-height: 20px;
    height: 80px;
  }
  #faq #faqAccordion .accordion-body {
    font-size: 14px;
    line-height: 17px;
    padding-left: 0;
  }
}
#want {
  padding-top: 59px;
  padding-bottom: 59px;
  background: #364693;
}
#want .block {
  width: 820px;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
#want .block a div {
  width: 189px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  background: #DA1E26;
  border-radius: 5px;
  border: 1px solid #DA1E26;
  transition: 0.2s;
}
#want .block a div:hover {
  background-color: transparent;
  transition: 0.2s;
}

@media screen and (max-device-width: 992px) {
  #want {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #want .block {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
  #want .block a {
    margin-top: 35px;
  }
  #want .block a div {
    width: 100%;
  }
}
#contact {
  padding-top: 120px;
  background-color: #FFFFFF;
}
#contact h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #484848;
  margin-bottom: 72px;
}
#contact .content {
  width: 980px;
}
#contact .content h3 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #484848;
  margin-bottom: 40px;
}
#contact .content .box {
  margin-bottom: 60px;
}
#contact .content .box .big-txt {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #484848;
  margin-bottom: 20px;
}
#contact .content .box .small-txt {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #484848;
  margin-bottom: 12px;
}
#contact .content .box .small-txt + .email {
  color: #DA1E26;
  margin-bottom: 0;
}
#contact .content .form {
  width: 480px;
}
#contact .content .form input {
  width: 100%;
  height: 48px;
  background: #F1F2F3;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  margin-bottom: 15px;
}
#contact .content .form textarea {
  background: #F1F2F3;
  border-radius: 5px;
  border: none;
  min-height: 76px;
  height: 76px;
  max-height: 120px;
  margin-bottom: 20px;
}
#contact .content .form button {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  background: #DA1E26;
  border-radius: 5px;
  border: 1px solid #DA1E26;
  transition: 0.2s;
}
#contact .content .form button:hover {
  background-color: transparent;
  color: #DA1E26;
  transition: 0.2s;
}
#contact .content .form small {
  margin-top: 15px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #484848;
}

@media screen and (max-device-width: 992px) {
  #contact h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
    text-align: left;
  }
  #contact .content {
    width: 100%;
  }
  #contact .content h3 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  #contact .content .box {
    margin-bottom: 40px;
  }
  #contact .content .box .small-txt {
    font-size: 16px;
    line-height: 20px;
  }
  #contact .content .form {
    margin-top: 15px;
    width: 100%;
  }
}
footer {
  padding-top: 110px;
  background-color: #FFFFFF;
}
footer .footer {
  padding-top: 35px;
  padding-bottom: 40px;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #484848;
  border-top: 2px solid #DA1E26;
}
footer .footer p {
  margin-bottom: 0;
}
footer .footer a {
  color: #484848;
}

@media screen and (max-device-width: 992px) {
  footer .footer {
    padding-top: 25px;
  }
  footer .footer p, footer .footer a {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
.success svg {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.success .big-txt {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.05em;
  color: #484848;
  margin-bottom: 30px;
}
.success .small-txt {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #484848;
  margin-bottom: 50px;
}
.success .insta-txt {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #484848;
  margin-bottom: 15px;
}
.success a img {
  width: 291px;
  height: 56px;
}

@media screen and (max-device-width: 992px) {
  .success {
    margin-top: 100px;
  }
  .success svg {
    width: 75px;
    height: 75px;
  }
  .success .big-txt {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .success .small-txt {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .success .insta-txt {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .success a img {
    width: 291px;
    height: 56px;
  }
}
#test {
  background-color: #FFFFFF;
}
#test .row:after {
  clear: both;
  content: "";
  display: table;
}
#test .row:before {
  content: "";
  display: table;
}
#test *, #test *:after, #test *:before {
  box-sizing: border-box;
}
#test body {
  background: #fff;
  font-family: "Raleway";
  line-height: 1.55;
  color: #737373;
  font-weight: 400;
}
#test body a {
  color: #27b198;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
#test body a:hover {
  border-color: #eeeeee;
}
#test code {
  background: #fff;
  color: #999999;
  padding: 2px 8px;
}
#test header {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #DA1E26;
  border-bottom: 1px solid dareken(#2dceb1, 15%);
  letter-spacing: 4px;
  padding: 12px 0;
  background: #fafafa;
  border-bottom: 1px solid #eeeeee;
  font-size: 24px;
}
#test .wrap {
  max-width: 48em;
  margin: 0 auto;
  padding: 2.5em 0 4em;
}
#test .row.last {
  border-bottom: 1px solid #eeeeee;
}
#test section {
  position: relative;
  padding: 20px;
  width: 50%;
  min-height: auto;
  float: left;
  background: #fafafa;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
@media screen and (max-device-width: 992px) {
  #test section {
    width: 100%;
  }
}
#test section:nth-child(even) {
  border-right: 1px solid #eeeeee;
}
#test input[type=radio] {
  position: absolute;
  visibility: hidden;
}
#test input[type=radio] + label {
  background: #fff;
  display: inline-block;
  padding: 5px 15px;
  margin: 5px 10px 5px 0;
  border: 1px solid #eeeeee;
  transition: all 0.1s linear;
}
#test input[type=radio] + label:hover {
  cursor: pointer;
}
#test input[type=radio]:checked + label {
  background: #DA1E26;
  color: #FFFFFF;
}
#test .question {
  font-size: 16px;
}
#test .submit {
  padding: 20px 5px;
}
#test .submit button {
  display: block;
  outline: none;
  width: 300px;
  margin: 1em auto 1.5em;
  padding: 0.8em 1em;
  background: #f8f8f8;
  color: gainsboro;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid #eeeeee;
}
#test #emc-score {
  text-align: center;
  opacity: 0;
  padding: 0;
  transition: all 0.55s ease;
}
#test #emc-score.new-score {
  opacity: 1;
  background: #2dceb1;
  color: #fbfbfb;
  padding: 20px;
}
#test #emc-submit {
  position: relative;
  transition: all 0.33s ease;
}
#test #emc-submit.ready-show {
  background: #FFFFFF;
  color: #DA1E26;
  border: 2px solid #DA1E26;
  box-shadow: 0 1px 1px rgba(68, 68, 68, 0.2);
  transform: rotateX(360deg);
}
#test #emc-submit.ready-show:hover {
  color: #FFFFFF;
  background: #DA1E26;
  border-color: #DA1E26;
}
#test #emc-submit.ready-show:active {
  top: 2px;
  border-bottom: none;
}
#test #emc-progress {
  height: 100%;
  border: 1px solid #ff8000;
  background: #fd9d08;
}
#test #emc-progress_inner {
  width: 100%;
  height: 0;
  background: #ff5c00;
  transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#test #emc-progress_ind {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 0.7em;
  font-weight: bold;
  padding: 7px 5px 5px;
  top: 0;
  left: 0;
  text-align: center;
  color: #ff5c00;
}
#test .attrib {
  padding: 10px 0;
  text-align: center;
}
#test .attrib i {
  margin-right: 7px;
  margin-left: 7px;
}
